 <div class="grid">
      <div class="container">
        <header class="grid__header">
          <p class="text-md">
            <strong>
              Showing 6 out of 18 listings for: <span class="text-blue">Featured Discounts</span>
            </strong>
          </p>
        </header>
        <div class="row">
          <aside class="col-xs-12 col-md-4 col-md-push-8">
            <form action="#" class="panel panel--dark" method="post">
              <h3 class="panel__heading h2 text-green text-center">
                <span class="icon icon--strokes-left"></span>
                  categories
                <span class="icon icon--strokes-right"></span>
              </h3>
              <div class="text-sm text-green">
                <label class="tag tag--ghost tag--selectable">
                    <input type="radio" name="categories" value="All stories" class="tag__input" checked>
                    <span class="tag__label">Featured Discounts</span>
                </label>
                <label class="tag tag--ghost tag--selectable ">
                    <input type="radio" name="categories" value="Nationwide" class="tag__input">
                    <span class="tag__label">Nationwide</span>
                </label>
              </div>
              <div class="text-sm text-white">
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Auckland and Northland" class="tag__input">
                  <span class="tag__label">Auckland and Northland</span>
                </label>
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Central North" class="tag__input">
                  <span class="tag__label">Central North</span>
                </label>
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Wellington" class="tag__input">
                  <span class="tag__label">Wellington</span>
                </label>
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Upper South Island" class="tag__input">
                  <span class="tag__label">Upper South Island</span>
                </label>
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Cantebury & West" class="tag__input">
                  <span class="tag__label">Cantebury & West</span>
                </label>
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Otago & Southland" class="tag__input">
                  <span class="tag__label">Otago & Southland</span>
                </label>
                <label class="tag tag--ghost tag--selectable">
                  <input type="radio" name="categories" value="Hostelling International discounts" class="tag__input">
                  <span class="tag__label">Hostelling International discounts</span>
                </label>
              </div>
            </form>
          </aside>
          <div class="col-xs-12 col-md-8 col-md-pull-4">
            <div class="bg-ultra-light-grey">
              <div class="row">
                <figure class="col-xs-12 col-md-5 grid__figure">
                  <img src="//via.placeholder.com/315x200" class="grid__img" alt="">
                </figure>
                <div class="col-xs-12 col-md-7">
                  <div class="grid__col-inner-fluid text-left">
                    <h4>ACE Car Rental</h4>
                    <p class="grid__col-details">
                      17 locations across Australia and New Zealand Save 10%
                      with promo code YHA 0800 502 277 or 
                      <span class="text-orange"> Book online</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid__col">
             <div class="bg-ultra-light-grey">
              <div class="row">
                <figure class="col-xs-12 col-md-5 grid__figure">
                  <img src="//via.placeholder.com/315x200" class="grid__img" alt="">
                </figure>
                <div class="col-xs-12 col-md-7">
                  <div class="grid__col-inner-fluid text-left">
                    <h4>ACE Car Rental</h4>
                    <p class="grid__col-details">
                      17 locations across Australia and New Zealand Save 10%
                      with promo code YHA 0800 502 277 or 
                      <span class="text-orange"> Book online</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="grid__col">
             <div class="bg-ultra-light-grey">
              <div class="row">
                <figure class="col-xs-12 col-md-5 grid__figure">
                  <img src="//via.placeholder.com/315x200" class="grid__img" alt="">
                </figure>
                <div class="col-xs-12 col-md-7">
                  <div class="grid__col-inner-fluid text-left">
                    <h4>ACE Car Rental</h4>
                    <p class="grid__col-details">
                      17 locations across Australia and New Zealand Save 10%
                      with promo code YHA 0800 502 277 or 
                      <span class="text-orange"> Book online</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="grid__col">
             <div class="bg-ultra-light-grey">
              <div class="row">
                <figure class="col-xs-12 col-md-5 grid__figure">
                  <img src="//via.placeholder.com/315x200" class="grid__img" alt="">
                </figure>
                <div class="col-xs-12 col-md-7">
                    <div class="grid__col-inner-fluid text-left">
                      <h4>ACE Car Rental</h4>
                      <p class="grid__col-details">
                        17 locations across Australia and New Zealand Save 10%
                        with promo code YHA 0800 502 277 or 
                        <span class="text-orange"> Book online</span>
                      </p>
                    </div>
                  </div>
              </div>
            </div>
            </div>
             <div class="grid__col">
             <div class="bg-ultra-light-grey">
              <div class="row">
                <figure class="col-xs-12 col-md-5 grid__figure">
                  <img src="//via.placeholder.com/315x200" class="grid__img" alt="">
                </figure>
                <div class="col-xs-12 col-md-7">
                  <div class="grid__col-inner-fluid text-left">
                    <h4>ACE Car Rental</h4>
                    <p class="grid__col-details">
                      17 locations across Australia and New Zealand Save 10%
                      with promo code YHA 0800 502 277 or 
                      <span class="text-orange"> Book online</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
           
            <div class="row text-center">
              <a href="#" class="btn btn--grunge btn--green btn--hover-orange ">Load More</a>
            </div>
            <div class="row text-center">
              <div class="promo promo--default">
                <div class="promo__inner">
                  <span class="promo__amount">
                    Save <span class="promo__amount-value">10%</span>
                  </span>
                  <span class="promo__notes">
                    Become a 
                    <span class="promo__notes-highlight">YHA member</span>
                    <span class="hidden-xs hidden-sm"><br>&amp; start saving now!</span>
                  </span>
                  <a href="#" class="btn btn--grunge btn--blue btn--hover-orange promo__btn">Join Now</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>