<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-wrapper">
        <h2 class="table-wrapper__heading text-green text-center">
          <span class="icon icon--strokes-left"></span> 
          benefits 
          <span class="icon icon--strokes-right"></span>
        </h2>
        <table class="table">
          <tr class="table__tr">

            <td class="table__td text-center">
              <div class="circle-bg__icon bg-orange">
                <i class="fa fa-dollar"></i>
              </div>
              <p class="table__td-details">
                <strong>
                  10% off YHA accommodation when booking direct
                </strong>                   
              </p>
              <p>
                <a href="#" class="link link--blue">Member Deals</a>
              </p>
              <div class="hidden-xs">
                <hr class="hr hr--ctr hr--vrt-short pull-right">
              </div>
            </td>

            <td class="table__td text-center">
              <div class="circle-bg__icon bg-blue">
                <i class="fa fa-bus"></i>
              </div>                
              <p class="table__td-details">
                <strong>
                  Worldwide travel and activity discounts
                </strong>
              </p>
              <p>
                <a href="#" class="link link--blue">Member Discounts</a>
              </p>
              <div class="hidden-xs">
                <hr class="hr hr--ctr hr--vrt-short pull-right">
              </div>
            </td>

            <td class="table__td text-center">
              <div class="circle-bg__icon bg-green">
                <i class="fa fa-leaf"></i>
              </div>                 
              <p class="table__td-details">
                <strong>
                  Support YHA's sustainability and community initiatives
                </strong>                    
              </p>
              <p>
                <a href="#" class="link link--blue">Sustainability</a>
              </p>
              <div class="hidden-xs">
                <hr class="hr hr--ctr hr--vrt-short pull-right">
              </div>
            </td>

            <td class="table__td text-center">
              <div class="circle-bg__icon bg-black">
                <i class="fa fa-globe"></i>
              </div>                  
              <p class="table__td-details">
                <strong>
                  Access 3000+ YHA/HI hostels around the world
                </strong>                    
              </p> 
              <p>
                <a href="#" class="link link--blue">Overseas Hostels</a>
              </p>                
            </td>

          </tr>
        </table>
        <!-- /.table  -->
      </div>
    </div>
  </div>
</div>