<div class="grid">
  <div class="container">
    <div class="row row--compact">
      <div class="col-xs-12 col-md-4 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="/library/grid/img-1.jpg" alt="" class="grid__col-figure-img">
              <figcaption class="grid__col-figcaption">
                <div class="grid__col-figcaption-inner">
                  <h3 class="grid__col-figcaption-title">
                    <span>Why join YHA</span>
                  </h3>
                  <p class="grid__col-figcaption-text">
                    YHA New Zealand has worked with some of New Zealand's best
                    transport and activity providers to provide a great range
                      of short term...
                  </p>
                </div>
              </figcaption>
              <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="/library/grid/img-2.jpg" alt="" class="grid__col-figure-img">
              <figcaption class="grid__col-figcaption">
                <div class="grid__col-figcaption-inner">
                  <h3 class="grid__col-figcaption-title">
                    <span>YHA member discounts</span>
                  </h3>
                  <p class="grid__col-figcaption-text">
                    YHA New Zealand has worked with some of New Zealand's best
                    transport and activity providers to provide a great range
                      of short term...
                  </p>
                </div>
              </figcaption>
              <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="/library/grid/img-3.jpg" alt="" class="grid__col-figure-img">
              <figcaption class="grid__col-figcaption">
                <div class="grid__col-figcaption-inner">
                  <h3 class="grid__col-figcaption-title">
                    <span>Activate, renew &#38; update membership</span>
                  </h3>
                  <p class="grid__col-figcaption-text">
                    YHA New Zealand has worked with some of New Zealand's best
                    transport and activity providers to provide a great range
                      of short term...
                  </p>
                </div>
              </figcaption>
              <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>