<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section__heading text-blue">
          <span class="icon icon--strokes-left"></span> 
          membership options 
          <span class="icon icon--strokes-right"></span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

        <div class="price-grid">
          <h3 class="price-grid__heading">Gold membership</h3>
          <p class="price-grid__intro">
            Permanent YHA New Zealand membership. 
            Available to New Zealand residents only.
          </p>

          <table class="price-grid__table">
            <thead class="price-grid__table-thead">
              <tr class="price-grid__table-tr">
                <th class="price-grid__table-th price-grid__table-th--lg">&nbsp;</th>
                <th class="price-grid__table-th">1 year</th>
                <th class="price-grid__table-th">2 years</th>
                <th class="price-grid__table-th">3 years</th>
                <th class="price-grid__table-th">Permanent</th>
              </tr>
            </thead>
            <tbody class="price-grid__table-tbody">
              <tr class="price-grid__table-tr">
                <td class="price-grid__table-td price-grid__table-td--lg">
                  <strong class="text-blue">New Zealand Resident</strong> 
                  <span class="visible-xs-block">
                    (18 years & over)
                  </span>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  1 year
                </th>
                <td class="price-grid__table-td">
                  <i class="fa fa-times price-grid__table-na"></i>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  2 years
                </th>
                <td class="price-grid__table-td">
                  <i class="fa fa-times price-grid__table-na"></i>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  3 years
                </th>
                <td class="price-grid__table-td">
                  <i class="fa fa-times price-grid__table-na"></i>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  Permanent
                </th>
                <td class="price-grid__table-td">NZ &#36;350</td>
              </tr>
            </tbody>
          </table>
          <!-- /.price-grid__table -->
        </div>
        <!-- /.price-grid(1) -->

        <div class="price-grid">
          <h3 class="price-grid__heading">Individual membership</h3>
          <p class="price-grid__intro">
            Starting at just $25, YHA's adult membership gives you all the 
            benefits for the lowest price. Available to New Zealand residents 
            and Overseas Visitors. 
          </p>

          <table class="price-grid__table">
            <thead class="price-grid__table-thead">
              <tr class="price-grid__table-tr">
                <th class="price-grid__table-th price-grid__table-th--lg">&nbsp;</th>
                <th class="price-grid__table-th">1 year</th>
                <th class="price-grid__table-th">2 years</th>
                <th class="price-grid__table-th">3 years</th>
                <th class="price-grid__table-th">Permanent</th>
              </tr>
            </thead>
            <tbody class="price-grid__table-tbody">
              <tr class="price-grid__table-tr">
                <td class="price-grid__table-td price-grid__table-td--lg">
                  <strong class="text-blue">New Zealand Resident</strong> 
                  <span class="visible-xs-block">
                    (Under 18 years)
                  </span>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  1 year
                </th>
                <td class="price-grid__table-td">
                  Free
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  2 years
                </th>
                <td class="price-grid__table-td">
                  Free
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  3 years
                </th>
                <td class="price-grid__table-td">
                  Free
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  Permanent
                </th>
                <td class="price-grid__table-td">
                  <i class="fa fa-times price-grid__table-na"></i>
                </td>
              </tr>
              <tr class="price-grid__table-tr">
                <td class="price-grid__table-td price-grid__table-td--lg">
                  <strong class="text-blue">New Zealand Resident</strong> 
                  <span class="visible-xs-block">
                    (18 years & over)
                  </span>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  1 year
                </th>
                <td class="price-grid__table-td">
                  NZD &#36;25
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  2 years
                </th>
                <td class="price-grid__table-td">
                  NZD &#36;40
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  3 years
                </th>
                <td class="price-grid__table-td">
                  NZD &#36;60
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  Permanent
                </th>
                <td class="price-grid__table-td">
                  <i class="fa fa-times price-grid__table-na"></i>
                </td>
              </tr>
              <tr class="price-grid__table-tr">
                <td class="price-grid__table-td price-grid__table-td--lg">
                  <strong class="text-blue">Overseas visitor</strong> 
                  <span class="visible-xs-block">
                    (18 years & over)
                  </span>
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  1 year
                </th>
                <td class="price-grid__table-td">
                  NZD &#36;25
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  2 years
                </th>
                <td class="price-grid__table-td">
                  NZD &#36;40
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  3 years
                </th>
                <td class="price-grid__table-td">
                  NZD &#36;60
                </td>
                <th class="price-grid__table-td price-grid__table-td--sm-th">
                  Permanent
                </th>
                <td class="price-grid__table-td">
                  <i class="fa fa-times price-grid__table-na"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- /.price-grid__table -->
        </div>
        <!-- /.price-grid(2) -->

      </div>
    </div>
  </div>
</section>
<!-- /.section -->