<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form action="#" class="membership-form" method="post">

        <label for="membership-status" class="membership-form__label">
          <strong class="text-green">SAVE 10%</strong>
          Become a 
          <strong class="text-orange">YHA member</strong>
        </label>

        <div class="membership-form__input-group">
          <select class="membership-form__control" name="membership-status" 
            id="membership-status">
            <option value="">Select status</option>
            <option value="TYP1">Status 1</option>
            <option value="TYP2">Status 2</option>
            <option value="TYP2">Status 3</option>
          </select>
        </div>
        <!-- /.membership-form__group -->

        <button type="submit" class="btn btn--grunge btn--blue btn--hover-green
        membership-form__btn">
          Join Now
        </button>
        
      </form>
      <!-- /.membership-form -->
    </div>
  </div>
</div>