<a href="#" class="btn btn--grunge btn--blue btn--hover-orange footer__lower__scroll-btn">Back to Top</a>
<p class="footer__lower__credits">&copy; Copyright YHA New Zealand 
  Backpacker Hostel Accommodation 2017  |  Tourism Websites by 
  <a href="#" class="text-orange"><strong>Tomahawk</strong></a>
</p>
<div class="clear"></div>