<footer class="footer">
  <!-- build:section recursive layouts.footer.upper -->
  <!-- /build -->
  
  <!-- build:section recursive layouts.footer.lower -->
  <!-- /build -->
</footer>
<!-- /.footer  -->