<div class="panel hidden-xs hidden-sm">
  <h2 class="panel__heading text-green"><span class="hr hr--orange"></span>Local stories</h2>
  <p class="panel__info">YHA New Zealand has worked with some of the...</p>
  <p><a href="#" class="link link--blue">Read more</a></p>
  <p><img src="/graphics/logos/carbon.png" alt=""></p>
</div>