<div class="footer__lower">
  <div class="container container--compact">
    <div class="row row--compact">
      <!-- build:section recursive layouts.footer.navigation -->
      <!-- /build -->
      
      <!-- build:section recursive layouts.footer.agentLogin -->
      <!-- /build -->
      
    </div>
    <!-- /.row  -->
    <div class="row row--compact">
      <div class="col-xs-12">
        <!-- build:section recursive layouts.footer.credits -->
        <!-- /build -->
      </div>
    </div>
    <!-- /.row  -->
  </div>
</div>
<!-- /.footer__lower -->