<div class="col-xs-12 col-md-9 col--compact">
  <div class="row row--compact">
    <div class="col-xs-12 col-md-4 col--compact">
      <nav class="nav nav-accordion">
        <h2 class="nav__heading">
          <a href="#">
            Terms & Conditions
          </a>
        </h2>
        <i class="fa fa-angle-down accordion__item-head-icon"></i>
        <ul class="nav__list text-orange">
          <li class="nav__item">
            <a href="#" class="nav__link">Cancellations & Refunds</a>
          </li>
          
          <li class="nav__item">
            <a href="#" class="nav__link">Trademarks</a>
          </li>
        </ul>
      </nav>
      <!-- /.nav  -->
    </div>
    <!-- /.col-md-4  -->
    <div class="col-xs-12 col-md-4 col--compact">
      <nav class="nav nav-accordion">
        <h2 class="nav__heading">
          <a href="#">
            Our Organisation
          </a>
        </h2>
        <i class="fa fa-angle-down accordion__item-head-icon"></i>
        <ul class="nav__list text-orange">
          <li class="nav__item">
            <a href="#" class="nav__link">Careers</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Become a YHA associate</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Advertising</a>
          </li>
        </ul>
      </nav>
      <!-- /.nav  -->
    </div>
    <!-- /.col-md-4  -->
    <div class="col-xs-12 col-md-4 col--compact">
      <nav class="nav nav-accordion">
        <h2 class="nav__heading">
          <a href="#">
            Our New Members
          </a>
        </h2>
        <i class="fa fa-angle-down accordion__item-head-icon"></i>
        <ul class="nav__list text-orange">
          <li class="nav__item">
            <a href="#" class="nav__link">Annual Reports</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Meet Ups</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Leaving a Legacy</a>
          </li>
        </ul>
      </nav>
      <!-- /.nav  -->
    </div>
     <div class="col-xs-12 col-md-4 col--compact">
      <nav class="nav nav-accordion">
        <h2 class="nav__heading">
          <a href="#">
            Agents Login
          </a>
        </h2>
        <i class="fa fa-angle-down accordion__item-head-icon"></i>
        <ul class="nav__list">
          <li class="nav__item">
            <!-- build:section recursive layouts.footer.agentLogin -->
            <!-- /build -->
          </li>
        </ul>
      </nav>
      <!-- /.nav  -->
    </div>
    <!-- /.col-md-4  -->
  </div>
</div>