<form class="form footer__newsletter-form text-center" action="#" method="post">
  <h2 class="form__heading text-blue"><span class="hr hr--ctr hr--orange"></span> Newsletter</h2>
  <p class="form__intro">Get latest YHA New Zealand updates straight into your inbox</p>
  <fieldset class="form__fieldset footer__newsletter-form__fieldset">
    <div class="form__group">
      <div class="form__input-group">
        <input class="form__control footer__newsletter-form__input" name="email-address" autocomplete="off" required placeholder="Enter your email" type="text">
        <span class="form__input-group-addon form__input-group-addon--ghost">
          <button type="submit" class="btn btn--grunge btn--green btn--hover-orange footer__newsletter-form__btn">Submit</button>
        </span>
      </div>
    </div>
  </fieldset>
  <p class="hidden-xs hidden-sm">Freephone (within NZ) <span class="text-orange text-highlight">0800 278 299</span></p>
</form>