<ul class="social-icons footer__social-icons">
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <i class="fa fa-weibo"></i>
    </a>
  </li>
  <li class="social-icons__item">
    <a href="#" class="social-icons__link">
      <i class="fa fa-wechat"></i>
    </a>
  </li>
</ul>