<div class="footer__upper">
  <div class="container container--compact">
    <div class="row row--compact">
      <div class="col-xs-12 col-md-3 col--compact">
        <!-- build:section recursive layouts.footer.localStories -->
        <!-- /build -->
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1 col--compact">
        <!-- build:section recursive layouts.footer.newsletterForm -->
        <!-- /build -->
      </div>
      <div class="col-xs-12 col-md-4 col--compact">
        <!-- build:section recursive layouts.footer.dreamBadge -->
        <!-- /build -->
        
        <!-- build:section recursive layouts.footer.socialLinks -->
        <!-- /build -->
      </div>
    </div>
  </div>
</div>
<!-- /.footer__upper -->