<div class="grid">
  <div class="container container--compact">
    <div class="row">
      <div class="col-md-12">
        <header class="grid__header">
          <h2 class="grid__heading text-blue">
            <span class="icon icon--strokes-left"></span> 
            explore 
            <span class="icon icon--strokes-right"></span>
          </h2>
        </header>
        
        <div class="row row--compact">
          <div class="col-xs-12 col-md-4 col--compact">
            <div class="grid__col-inner">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <h3 class="grid__col-heading">Deals & Packages</h3>
              <p class="grid__col-details">YHA New Zealand has worked with some of New Zealand's best transport and activity providers to provide a great range of short term...</p>
              <p><a href="#" class="link link--blue">Find out more</a></p>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-4 col--compact">
            <div class="grid__col-inner">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <h3 class="grid__col-heading">Festivals & Events</h3>
              <p class="grid__col-details">There’s no better way to experience feeling part of a Kiwi community than getting stuck into a New Zealand festival, sporting event or town gathering...</p>
              <p><a href="#" class="link link--blue">Find out more</a></p>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-4 col--compact">
            <div class="grid__col-inner">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <h3 class="grid__col-heading">Groups & Schools</h3>
              <p class="grid__col-details">Planning a trip with your school group? Camp group? Hockey, rugby or tennis team? Do you need to sort your group accommodation? YHA provides...</p>
              <p><a href="#" class="link link--blue">Find out more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.grid (explore) -->