<div class="grid">
  <div class="container container--compact">
    <div class="row">
      <div class="col-md-12">
        <header class="grid__header">
          <h2 class="grid__heading text-blue">
            <span class="icon icon--strokes-left"></span> 
            explore 
            <span class="icon icon--strokes-right"></span>
          </h2>
        </header>
        
        <div class="row row--compact grid">
          <div class="col-md-12">
            <div class="col-xs-12 col-md-6">
              <div class="grid__block">
                <div class="col-sm-5 grid__block--img">
                  <figure class="grid__col-figure">
                    <img src="//via.placeholder.com/430x620" alt="" class="grid__col-figure-img">
                    <a href="#" class="grid__col-figure-link">view more</a>
                  </figure>
                </div>
                <div class="col-sm-7 grid__block--des">
                  <h3 class="grid__col-heading-second">Deals & Packages</h3>
                  <p class="grid__col-details-second">YHA New Zealand has worked with some of New Zealand's best transport and activity providers to provide a great range of short term...</p>
                  <p><a href="#" class="link link--blue">Find out more</a></p>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-6">
              <div class="grid__block">
                <div class="col-sm-5 grid__block--img">
                  <figure class="grid__col-figure">
                    <img src="//via.placeholder.com/430x620" alt="" class="grid__col-figure-img">
                    <a href="#" class="grid__col-figure-link">view more</a>
                  </figure>
                </div>
                <div class="col-sm-7 grid__block--des">
                  <h3 class="grid__col-heading-second">Festivals & Events</h3>
                  <p class="grid__col-details-second">There’s no better way to experience feeling part of a Kiwi community than getting stuck into a New Zealand festival, sporting event or town gathering...</p>
                  <p><a href="#" class="link link--blue">Find out more</a></p>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-6">
              <div class="grid__block">
                <div class="col-sm-5 grid__block--img">
                  <figure class="grid__col-figure">
                    <img src="//via.placeholder.com/430x620" alt="" class="grid__col-figure-img">
                    <a href="#" class="grid__col-figure-link">view more</a>
                  </figure>
                </div>
                <div class="col-sm-7 grid__block--des">
                  <h3 class="grid__col-heading-second">Groups & Schools</h3>
                  <p class="grid__col-details-second">Planning a trip with your school group? Camp group? Hockey, rugby or tennis team? Do you need to sort your group accommodation? YHA provides...</p>
                  <p><a href="#" class="link link--blue">Find out more</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.grid (explore) -->