<div class="grid">
  <div class="container container--compact">
    <div class="row">
      <div class="col-md-12">
        <header class="grid__header">
          <h2 class="grid__heading text-blue">
            <span class="icon icon--strokes-left"></span> 
            explore 
            <span class="icon icon--strokes-right"></span>
          </h2>
        </header>
        
        <div class="row row--compact">
          <div class="col-md-12">
            <div class="col-xs-12 col-md-4 col--compact">
              <div class="grid__col-inner">
                <figure class="grid__col-figure grid__img-container">
                  <img src="//via.placeholder.com/430x536" alt="" class="grid__col-figure-img grid__img-container__image">
                  <figcaption class="grid__img-container__overlay">
                    <div class="grid__img-container__overlay--text">
                      <h6 class="grid__img-container__overlay--title">Deals & Packages</h6>
                      <p class="grid__img-container__overlay--desc">
                        YHA New Zealand has worked with some of New Zealand's best transport and activity providers to provide a great range of short term...
                      </p>
                    </div>
                  </figcaption>
                  <a href="#" class="grid__col-figure-link">view more</a>
                </figure>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-4 col--compact">
              <div class="grid__col-inner">
                <figure class="grid__col-figure grid__img-container">
                  <img src="//via.placeholder.com/430x536" alt="" class="grid__col-figure-img grid__img-container__image">
                  <div class="grid__img-container__overlay">
                    <div class="grid__img-container__overlay--text">
                      <h6 class="grid__img-container__overlay--title">Festivals & Events</h6>
                      <p class="grid__img-container__overlay--desc">
                        There’s no better way to experience feeling part of a Kiwi community than getting stuck into a New Zealand festival, sporting event or town gathering...
                      </p>
                    </div>
                  </div>
                  <a href="#" class="grid__col-figure-link">view more</a>
                </figure>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-4 col--compact">
              <div class="grid__col-inner">
                <figure class="grid__col-figure grid__img-container">
                  <img src="//via.placeholder.com/430x536" alt="" class="grid__col-figure-img grid__img-container__image">
                  <div class="grid__img-container__overlay">
                    <div class="grid__img-container__overlay--text">
                      <h6 class="grid__img-container__overlay--title">Groups & Schools</h6>
                      <p class="grid__img-container__overlay--desc">
                        Planning a trip with your school group? Camp group? Hockey, rugby or tennis team? Do you need to sort your group accommodation? YHA provides...
                      </p>
                    </div>
                  </div>
                  <a href="#" class="grid__col-figure-link">view more</a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.grid (explore) -->