<div class="col-xs-12 col-md-3 col--compact hidden-xs hidden-sm">
  <div class="banner__booking-panel panel text-center">
    <h3 class="panel__heading">Find My Hostel <span class="hr hr--ctr hr--orange"></span></h3>
    <p class="panel__info">42 hostels across New Zealand waiting for your arrival.</p>
    <a href="#" class="btn btn--grunge btn--green btn--hover-orange panel__info">Explore</a>
  </div>
  <!-- /.panel  -->
</div>