  <div class="banner banner--has-bg banner--has-overlay" style="background-image: url(/library/banner-photos/home.jpg);">
    <!-- <img src="/library/banner-photos/home.jpg" alt="" class="banner__img"> -->
    
    <!--<div class="banner__slider">
      <div class="banner__slider-slide">
        <figure class="banner__slider-figure">
          <img src="/library/banner-photos/home.jpg" alt="" class="banner__slider-img" />
        </figure>
      </div>
    </div> -->
    <!-- /.banner__slider -->
    
    <div class="banner__align-ctr">
      <div class="container container--compact">
        <div class="row row--compact">
          <!-- build:section layouts.home.banner.bookingPanel -->
          <!-- /build -->
          
          <!-- build:section layouts.home.banner.svgMap -->
          <!-- /build -->
          
          <!-- build:section layouts.home.banner.hotelInfoPanel -->
          <!-- /build -->
        </div>
        <!-- /.faux-table__tr  -->
      </div>
      <!-- /.faux-table  -->
    </div>
    <!-- /.banner__align-ctr -->
    
  </div>
  <!-- /.banner -->