<div>
  <h2 class="text-center text-green">
    <span class="icon icon--strokes-left"></span>
    availability
    <span class="icon icon--strokes-right"></span>
  </h2>
  <div class="booking-calendar">
    <iframe src="http://www.resbook.net/calendar/?pid=5562"
     frameborder="0" scrollbars="none" class="booking-calendar__iframe">
    </iframe>
  </div>
</div>