<div class="bg-ultra-light-grey">
  <div class="container-fluid">
    <ul class="icon-list">
      <li class="icon-list__item">
        <i class="fa fa-phone icon-list__icon"></i>
        <a href="tel:+64 3 366 6564 ">+64 3 366 6564 </a>
      </li>
      <li class="icon-list__item">
        <i class="fa fa-envelope-square icon-list__icon"></i>
        <a href="mailto:info@yhahostel.co.nz">info@yhahostel.co.nz</a>
      </li>
    </ul>
    <!-- /.icon-list -->
  </div>
</div>