<h1 class="main__heading text-black">YHA Auckland City</h1>
<ul class="icon-list">
  <li class="icon-list__item">
    <i class="fa fa-location-arrow icon-list__icon"></i>
    <strong class="text-orange">700m from city centre</strong>
  </li>
  <li class="icon-list__item">
    <i class="fi fi-wifi icon-list__icon"></i>
    Free WiFi limited access 
  </li>
  <li class="icon-list__item">
    <i class="fi fi-locker icon-list__icon"></i>
    Locker Storage
  </li>
  <li class="icon-list__item">
    <i class="fi fi-parking-sign icon-list__icon"></i>
    Offstreet parking
  </li>
</ul>
<!-- /.icon-list -->

<div>
  <a href="https://www.youtube.com/watch?v=Rv9GGOY7npE" class="btn btn--grunge btn--green btn--gutter btn--hover-orange swipebox">
    Play video
    <i class="fa fa-caret-right"></i>
  </a>
  <a href="http://www.360-image.com/360/ogunquit/anchorage-by-the-sea-2015/index.html?base=http://www.360-image.com/360/ogunquit/anchorage-by-the-sea-2015/&amp;" class="icon--compact overlay__open">
    <span class="icon icon--360"></span>
  </a>
</div>