<div>
  <p>
    <strong class="text-blue">Host:</strong> Luke Tarplett
  </p>
  <p>
    <strong class="text-blue">Check in:</strong> 2pm 
    <strong class="text-blue">Check out:</strong> 10am
  </p>
  <p>
    <strong class="text-blue">Reception:</strong> 8am - 10pm
  </p>
  <p>
    <strong class="text-blue">Location:</strong> 
    <i class="fa fa-map-marker text-green"></i> 5 Worcester Boulevard
  </p>
  <p>Rotorua <strong class="text-orange">700m from city centre</strong></p>
</div>