<section class="section bg-gains">
  <div class="container-fluid">
    <div class="section__content folded__wrapper">	
    <h2 class="text-blue text-center">
      <span class="icon icon--strokes-left"></span> 
      facilities 
      <span class="icon icon--strokes-right"></span>
    </h2>
    <h6 class="text-orange"><strong>Most popular facilities</strong></h6>
    <ul class="list list--table">
      <li class="list__item"><i class="fi fi-wifi list__item-icon"></i> Free WiFi Limited access</li>
      <li class="list__item"><i class="fi fi-sun list__item-icon"></i> Yoga lessons</li>
      <li class="list__item"><i class="fi fi-shop-convenience list__item-icon"></i> Convenience store</li>
      <li class="list__item"><i class="fi fi-towel list__item-icon"></i> Towel Hire</li>
      <li class="list__item"><i class="fi fi-bed list__item-icon"></i> Secure Bedroom</li>
      <li class="list__item"><i class="fi fi-kitchen-01 list__item-icon"></i> Fully euipped kitchen</li>
      <li class="list__item"><i class="fi fi-lounge-sofa list__item-icon"></i> Communal Lounge</li>
      <li class="list__item"><i class="fi fi-swimming list__item-icon"></i> Swimming pool</li>
      <li class="list__item"><i class="fi fi-parking-sign list__item-icon"></i> Street parking</li>
      <li class="list__item"><i class="fi fi-cot list__item-icon"></i> Cot available on request</li>
      <li class="list__item"><i class="fi fi-cutlery list__item-icon"></i> Meals Included</li>
      <li class="list__item"><i class="fi fi-sauna list__item-icon"></i> Sauna</li>
    </ul>
    <div class="folded__content hide">
      <hr class="hr--dark">
      <h6 class="text-orange"><strong>General</strong></h6>
      <ul class="list list--table">
        <li class="list__item"><i class="fi fi-wifi list__item-icon"></i> Wheelchair access</li>
        <li class="list__item"><i class="fi fi-locker list__item-icon"></i> Locker storage</li>
        <li class="list__item"><i class="fi fi-shop-recycle list__item-icon"></i> Recycling stations</li>
        <li class="list__item"><i class="fi fi-book list__item-icon"></i> Book exchange</li>
        <li class="list__item"><i class="fi fi-booking list__item-icon"></i> Travel &amp; Activity booking</li>
        <li class="list__item"><i class="fi fi-laundry list__item-icon"></i> Laundry available</li>
        <li class="list__item"><i class="fi fi-drying-clothes list__item-icon"></i> Drying room</li>
        <li class="list__item"><i class="fi fi-24-hour-service list__item-icon"></i> 24 hour guest access</li>
      </ul>
      <hr class="hr--dark">
      <h6 class="text-orange"><strong>Things to do &amp; Entertainment</strong></h6>
      <ul class="list list--table">
        <li class="list__item"><i class="fi fi-waves list__item-icon"></i> Surf Board hire</li>
        <li class="list__item"><i class="fi fi-hot-tub list__item-icon"></i> Hot Tub</li>
        <li class="list__item"><i class="fi fi-xbox list__item-icon"></i> Xbox</li>
        <li class="list__item"><i class="fi fi-xbox list__item-icon"></i> Xbox</li>
        <li class="list__item"><i class="fi fi-ski list__item-icon"></i> Ski field shuttle</li>
        <li class="list__item"><i class="fi fi-kitchen-01 list__item-icon"></i> Swings</li>
        <li class="list__item"><i class="fi fi-climbing-with-rope list__item-icon"></i> Climbing wall</li>
        <li class="list__item"><i class="fi fi-garden-outdoor list__item-icon"></i> Garden or outdoor area</li>
        <li class="list__item"><i class="fi fi-pool list__item-icon"></i> Pool table</li>
        <li class="list__item"><i class="fi fi-movie list__item-icon"></i> Free Movies</li>
        <li class="list__item"><i class="fi fi-cutlery list__item-icon"></i> Bicycles available</li>
        <li class="list__item"><i class="fi fi-parking-sign list__item-icon"></i> Kayaks available</li>
        <li class="list__item"><i class="fi fi-cot list__item-icon"></i> Guitar</li>
        <li class="list__item"><i class="fi fi-cutlery list__item-icon"></i> BBQ available</li>
        <li class="list__item"><i class="fi fi-sauna list__item-icon"></i> Wet suit hire</li>
      </ul>
      <hr class="hr--dark">
      <h6 class="text-orange"><strong>Food &amp; Drink</strong></h6>
      <ul class="list list--table">
        <li class="list__item"><i class="fi fi-waves list__item-icon"></i> Surf Board hire</li>
        <li class="list__item"><i class="fi fi-hot-tub list__item-icon"></i> Hot Tub</li>
        <li class="list__item"><i class="fi fi-xbox list__item-icon"></i> Xbox</li>
        <li class="list__item"><i class="fi fi-xbox list__item-icon"></i> Xbox</li>
        <li class="list__item"><i class="fi fi-ski list__item-icon"></i> Ski field shuttle</li>
        <li class="list__item"><i class="fi fi-kitchen-01 list__item-icon"></i> Swings</li>
        <li class="list__item"><i class="fi fi-climbing-with-rope list__item-icon"></i> Climbing wall</li>
        <li class="list__item"><i class="fi fi-garden-outdoor list__item-icon"></i> Garden or outdoor area</li>
        <li class="list__item"><i class="fi fi-pool list__item-icon"></i> Pool table</li>
        <li class="list__item"><i class="fi fi-movie list__item-icon"></i> Free Movies</li>
        <li class="list__item"><i class="fi fi-cutlery list__item-icon"></i> Bicycles available</li>
        <li class="list__item"><i class="fi fi-parking-sign list__item-icon"></i> Kayaks available</li>
        <li class="list__item"><i class="fi fi-cot list__item-icon"></i> Guitar</li>
        <li class="list__item"><i class="fi fi-cutlery list__item-icon"></i> BBQ available</li>
        <li class="list__item"><i class="fi fi-sauna list__item-icon"></i> Wet suit hire</li>
      </ul>
      <p class="facilities--notes"><label><strong>Notes</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra erat pellentesque, aliquet urna at, faucibus diam. </label></p>
    </div>
    <p>
      <a href="#" class="btn btn--grunge btn--green btn--grunge-indented 
       folded__link" data-more="See all facilities" 
       data-less="See less facilities">
        See all facilities
      </a>
    </p>
    </div>
  </div>
</section>