<div class="gallery">
  <figure class="gallery__figure">
    <img src="http://via.placeholder.com/80x80?text=1" alt="" class="gallery__img">
    <a href="http://via.placeholder.com/1920x1080"
      class="gallery__link swipebox" rel="hostel-gallery">
    </a>
  </figure>
  
  <figure class="gallery__figure">
    <img src="http://via.placeholder.com/80x80?text=2" alt="" class="gallery__img">
    <a href="http://via.placeholder.com/1080x1920"
      class="gallery__link swipebox" rel="hostel-gallery">
    </a>
  </figure>
  
  <figure class="gallery__figure">
    <img src="http://via.placeholder.com/80x80?text=3" alt="" class="gallery__img">
    <a href="http://via.placeholder.com/600x600"
      class="gallery__link swipebox" rel="hostel-gallery">
    </a>
  </figure>
  
  <figure class="gallery__figure">
    <img src="http://via.placeholder.com/80x80?text=4" alt="" class="gallery__img">
    <a href="http://via.placeholder.com/700x400"
      class="gallery__link swipebox" rel="hostel-gallery">
    </a>
  </figure>
  
  <figure class="gallery__figure">
    <img src="http://via.placeholder.com/80x80?text=5" alt="" class="gallery__img">
    <a href="http://via.placeholder.com/400x700"
      class="gallery__link swipebox" rel="hostel-gallery">
    </a>
  </figure>
  
  <figure class="gallery__figure">
    <img src="http://via.placeholder.com/80x80?text=6" alt="" class="gallery__img">
    <a href="http://via.placeholder.com/1920x1080"
      class="gallery__link swipebox" rel="hostel-gallery">
    </a>
  </figure>
  
</div>
<!-- /.gallery -->