<div class="logo-list">
  <a href="#" class="logo-list__link">
    <img src="/graphics/logos/yha-small-logo.jpg" alt="" class="logo-list__img">
  </a>
  <a href="#" class="logo-list__link">
    <img src="/graphics/logos/qual-mark-logo.jpg" alt="" class="logo-list__img">
  </a>
  <a href="#" class="logo-list__link">
    <img src="/graphics/logos/tripadvisor-logo.jpg" alt="" class="logo-list__img">
  </a>
</div>

<div class="promo promo--default text-center">
  <div class="promo__inner promo__inner--no-pattern">
    <span class="promo__amount">
      Save <span class="promo__amount-value">10%</span>
    </span>
    
    <span class="promo__notes">
      Become a 
      <span class="promo__notes-highlight">YHA member</span>
      <span class="hidden-xs hidden-sm"><br>&amp; start saving now!</span>
    </span>
    
    <a href="#" class="btn btn--grunge btn--blue btn--hover-orange promo__btn">Join Now</a>
  </div>
</div>

<div class="grid">
  <div class="container">
    <header class="grid__header">
      <h2 class="grid__heading text-white grid__heading--bubble">
        More Recommended YHA Hostels
      </h2>
    </header>
    
    <div class="row carousel">
      <div class="col-xs-12 col-md-4">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
          <h3 class="grid__col-heading text-lg">YHA Christchurch City</h3>
          <p><a href="#" class="link link--blue">Find out more</a></p>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-4">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
          <h3 class="grid__col-heading text-lg">YHA Queenstown Central</h3>
          <p><a href="#" class="link link--blue">Find out more</a></p>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-4">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
          <h3 class="grid__col-heading text-lg">YHA Arthur's Pass</h3>
          <p><a href="#" class="link link--blue">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>