<div class="map__box">
  <div id="map-canvas" class="map__canvas">
    <h4>Loading...</h4>
  </div>
</div>
<div>
  <p class="text-right">
    <a href="https://www.google.co.nz/maps/?q=8+Liverpool+Street+Auckland+Central+Auckland"
    class="link link--orange" target="_blank">
      <u class="text-capitalize">Get Directions on Google</u>
    </a> 
  </p>
</div>
<div>
  <h6 class="text-orange">How to get here</h6>
  <p>
    Access to this hostel is easy and you can get here by via car, 
    bus or shuttle...
  </p>
  <p>
    <a href="#" class="link link--blue">Read more</a>
  </p>
</div>