<div>
  <h2 class="text-center text-blue">
    <span class="icon icon--strokes-left"></span>
    overview
    <span class="icon icon--strokes-right"></span>
  </h2>
  <p>
    YHA Christchurch Rolleston House is a character home which has been 
    converted into a comfortable hostel located opposite the Canterbury Museum, 
    the Botanical Gardens and... Hagley Park. Stroll along the willow-lined 
    Avon River or enjoy Hagley Park's acres of green parkland.
  </p>
  <p>
    <a href="" class="link link--blue">Read More</a>
  </p>
</div>