<div class="grid">
  <div class="container container--compact">
    <header class="grid__header">
      <h2 class="grid__heading text-white grid__heading--bubble">
        More Group Hostels
      </h2>
    </header>
    
    <div class="row row--compact">
      <div class="col-xs-12 col-md-4 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
          <h3 class="grid__col-heading">YHA Christchurch City</h3>
          <p class="grid__col-details">YHA Chrisstchurch is a homely, comfortable, 100 year old building with a friendly, modern atmosphere. The hostel is located near the Christchurch...</p>
          <p><a href="#" class="link link--blue">Find out more</a></p>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-4 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
          <h3 class="grid__col-heading">YHA Queenstown Central</h3>
          <p class="grid__col-details">This hostel couldn't be more aptly named - nestled between the Wakatipu lakefront and Shotover St it's right in the rapidly beating heart of this...</p>
          <p><a href="#" class="link link--blue">Find out more</a></p>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-4 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/430x296" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
          </figure>
          <h3 class="grid__col-heading">YHA Arthur's Pass</h3>
          <p class="grid__col-details">YHA Arthur's Pass Mountain House is situated in the alpine village of Arthur's Pass, right on the Main Divide of the Southern Alps...</p>
          <p><a href="#" class="link link--blue">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.grid (explore) -->