<nav class="nav nav--horizontal">
  <ul class="nav__list link--blue">
    <li class="nav__item">
    	<a href="#details-section" class="nav__link scroll-content">
    		<strong>Details</strong>
    	</a>
	</li>
    <li class="nav__item">
    	<a href="#overview-section" class="nav__link scroll-content">
    		<strong>Overview</strong>
    	</a>
    </li>
    <li class="nav__item">
    	<a href="#facilities-section" class="nav__link scroll-content">
    		<strong>Facilities</strong>
    	</a>
    </li>
    <li class="nav__item">
    	<a href="#capacity-section" class="nav__link scroll-content">
    		<strong>Hostel Capacity</strong>
    	</a>
    </li>
  </ul>
</nav>