    <div class="accordion">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="accordion__item">
              <div class="accordion__item-head">
                <i class="fa fa-angle-down accordion__item-head-icon"></i>
                <a href="#" class="accordion__item-title">
                  <span class="text-orange">01</span>
                  Why should I join YHA?
                </a>
              </div>
              <div class="accordion__item-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maiores doloribus, aspernatur similique atque eligendi ab, reprehenderit labore. Incidunt facilis cupiditate repudiandae consequuntur blanditiis, tempora, error dolores deleniti repellat soluta!</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__item-head">
                <a href="#" class="accordion__item-title">
                  <span class="text-blue">02</span>
                  Is there an age limit for YHA Membership?
                </a>
                <i class="fa fa-angle-down accordion__item-head-icon"></i>
              </div>
              <div class="accordion__item-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maiores doloribus, aspernatur similique atque eligendi ab, reprehenderit labore. Incidunt facilis cupiditate repudiandae consequuntur blanditiis, tempora, error dolores deleniti repellat soluta!</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__item-head">
                <a href="#" class="accordion__item-title">
                  <span class="text-green">06</span>
                  Can I renew my membership while I&#39;m overseas?
                </a>
                <i class="fa fa-angle-down accordion__item-head-icon"></i>
              </div>
              <div class="accordion__item-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maiores doloribus, aspernatur similique atque eligendi ab, reprehenderit labore. Incidunt facilis cupiditate repudiandae consequuntur blanditiis, tempora, error dolores deleniti repellat soluta!</p>
              </div>
            </div>
            <div class="accordion__item">
              <div class="accordion__item-head">
                <a href="#" class="accordion__item-title">
                  <span class="text-orange">07</span>
                  How do I become a member?
                </a>
                <i class="fa fa-angle-down accordion__item-head-icon"></i>
              </div>
              <div class="accordion__item-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maiores doloribus, aspernatur similique atque eligendi ab, reprehenderit labore. Incidunt facilis cupiditate repudiandae consequuntur blanditiis, tempora, error dolores deleniti repellat soluta!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="container container--compact">
        <div class="row row--compact">
          <div class="col-xs-12 col-md-4 col--compact">
            <div class="grid__col-inner">
              <figure class="grid__col-figure">
                <img src="/library/grid/img-1.jpg" alt="" class="grid__col-figure-img">
                  <figcaption class="grid__col-figcaption">
                    <div class="grid__col-figcaption-inner">
                      <h3 class="grid__col-figcaption-title">
                        <span>Why join YHA</span>
                      </h3>
                      <p class="grid__col-figcaption-text">
                        YHA New Zealand has worked with some of New Zealand's best
                        transport and activity providers to provide a great range
                          of short term...
                      </p>
                    </div>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col--compact">
            <div class="grid__col-inner">
              <figure class="grid__col-figure">
                <img src="/library/grid/img-2.jpg" alt="" class="grid__col-figure-img">
                  <figcaption class="grid__col-figcaption">
                    <div class="grid__col-figcaption-inner">
                      <h3 class="grid__col-figcaption-title">
                        <span>YHA member discounts</span>
                      </h3>
                      <p class="grid__col-figcaption-text">
                        YHA New Zealand has worked with some of New Zealand's best
                        transport and activity providers to provide a great range
                          of short term...
                      </p>
                    </div>
                  </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col--compact">
            <div class="grid__col-inner">
              <figure class="grid__col-figure">
                <img src="/library/grid/img-3.jpg" alt="" class="grid__col-figure-img">
                  <figcaption class="grid__col-figcaption">
                    <div class="grid__col-figcaption-inner">
                      <h3 class="grid__col-figcaption-title">
                        <span>Activate, renew &#38; update membership</span>
                      </h3>
                      <p class="grid__col-figcaption-text">
                        YHA New Zealand has worked with some of New Zealand's best
                        transport and activity providers to provide a great range
                          of short term...
                      </p>
                    </div>
                  </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>