<section class="section capacity-section" id="capacity-section">
  <div class="section__content">      
    <h2 class="text-green">
      <span class="icon icon--strokes-left"></span> 
      Hostel Capacity 
      <span class="icon icon--strokes-right"></span>
    </h2>
    <p>YHA Rotorua can cater for up to 180 people accross 61 rooms.</p>
    <h6 class="text-orange"><strong>Room types available</strong></h6> 
    <p><strong class="text-blue">6 x 6 bed multi-share</strong></p>
    <p><strong class="text-blue">16 x 4 bed multi-share</strong></p>
    <p><strong class="text-blue">3 x 3 bed multi-share</strong> </p>
    <p><strong class="text-blue">11 x twin and double rooms</strong></p>
    <p><strong class="text-blue">25 x twin and double rooms and ensuite facilities</strong></p>
    <p>All bedroom doors lock automatically when closed and require swipe keys for access. A duplicate set can be provided for leaders to access all rooms allocated to your group.</p>
    <h6 class="text-orange"><strong>Group Units</strong></h6>
    <p>YHA Rotorua has two self contained group units each sleeping 26 people Both have multi-share style accomodation and private rooms for a group leaders and supervisos.</p>
    <p>Please note that due to layout of rooms, groups of 26 or more will be accommodated across two different group units.</p> 
    <h6 class="text-orange"><strong>Exclusive use</strong></h6>
    <p>Book our group units for exclusive use for up to 26 people. You will have your own fully-equipped kitchen, dining and lounge area, outdoor deck and BBQ, and secure key card access.</p>
    <div class="folded__content hide">
      <p>Access to this hostel is easy and you can get here by via car bus or shuttle. <strong>Shuttle/Bus:</strong> Buses stop about 600m from the hostel. Most shuttles pick up at the hostel; please get in touch with hostel staff for advice or to book. The main Bus Interchange in Christchurch is approximately a 15 minute walk from the hostel</p>
   </div>
    <p><a href="#" class="link link--blue folded__link" data-more="Read More" data-less="Read Less">Read More</a></p>
  </div>
</section>