<section id="overview-section" class="section">
  <div class="section__content folded__wrapper">
    <h2 class="text-blue">
      <span class="icon icon--strokes-left"></span> 
      overview 
      <span class="icon icon--strokes-right"></span>
    </h2>
    <p>One of the newest purpose built hostels in town, YHA Rotorua has two self-contained group units each sleeping up to 26 people. These units have multi share style accomodation and private rooms for tour leaders/teachers. The hostel provides quality, secure and affordable accomodation for education, sports adn tour groups.</p>
    <div class="folded__content hide">
      <p>YHA Christchurch Rolleston House is a characterhome which has been converted into a comfrotable hostel located opposite the Canterbury Museum, the Botanical Gardens and Hagley Park. Stroll along the willow-lined Avon River or enjoy Hagley Park's acres of text-green Parkland.</p>
    </div>
    <a href="#" class="link link--blue folded__link" data-more="Read More" data-less="Read Less">Read More</a>
  </div>
</section>