// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@font-face {
    font-family: 'museo100';
    src: url($text-fonts-dir-path+'/museo/light/normal/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/light/normal/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo100_italic';
    src: url($text-fonts-dir-path+'/museo/light/italic/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/light/italic/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo300';
    src: url($text-fonts-dir-path+'/museo/regular/normal/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/regular/normal/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo300_italic';
    src: url($text-fonts-dir-path+'/museo/regular/italic/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/regular/italic/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo500';
    src: url($text-fonts-dir-path+'/museo/semi_bold/normal/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/semi_bold/normal/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo500_italic';
    src: url($text-fonts-dir-path+'/museo/semi_bold/italic/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/semi_bold/italic/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url($text-fonts-dir-path+'/museo/bold/normal/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/bold/normal/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700_italic';
    src: url($text-fonts-dir-path+'/museo/bold/italic/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/bold/italic/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo900';
    src: url($text-fonts-dir-path+'/museo/extra_bold/normal/webfont.woff2') format('woff2'),
         url($text-fonts-dir-path+'/museo/extra_bold/normal/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}