<div class="header__nav-menu">
  <div class="container">
    <p class="h2 text-green header__nav-menu-heading">
      <span class="icon icon--strokes-left"></span>
      hostels
      <span class="icon icon--strokes-right"></span>
    </p>
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-back">
        <a href="#">
          <i class="fa fa-long-arrow-left"></i> Back
        </a>
      </li>
      <li class="header__nav-sub-menu-item hidden-md hidden-lg">
        <a href="#" class="header__nav-sub-menu-link">Find a hostel</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">
          <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
          North Island Gateway
        </a>
        <ul class="header__nav-sub-menu">
          <li class="header__nav-sub-menu-back">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i> Back
            </a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Auckland</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Wellington</a>
          </li>
          <li class="header__nav-sub-menu-item hidden-xs hidden-sm">
            <a href="#" class="link link--blue link--sm">
              All North Island Hostels
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">South Island Gateway</a>
        <ul class="header__nav-sub-menu">
          <li class="header__nav-sub-menu-back">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i> Back
            </a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Queenstown</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Christchurch</a>
          </li>
          <li class="header__nav-sub-menu-item hidden-xs hidden-sm">
            <a href="#" class="link link--blue link--sm">
              All South Island Hostels
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Why a hostel</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">How hostels work</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">YHA Hostel FAQ&#39;s</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">YHA Australia</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Hostelling International</a>
      </li>
    </ul>
    <div class="col-xs-12 col-md-3 header__nav-menu-col-pull-vtr">
      <div class="panel">
        <p class="h2 panel__heading text-blue">
          <span class="icon icon--strokes-left"></span>
          explore
          <span class="icon icon--strokes-right"></span>
        </p>
        <p class="panel__info text-orange">Use our interactive map to 
          find a hostel that fits you best!
        </p>
        <p>
          <a href="#" class="btn btn--grunge btn--green btn--hover-blue">
            <i class="fa fa-map-marker"></i> Interactive Map
          </a>
        </p>
      </div>
    </div>
    <div class="clear"></div>
    <!-- GRID-->
    <div class="hidden-xs hidden-sm">
      <div class="col-xs-12">
        <div class="grid">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">YHA Bay of Islands Paihia</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">YHA Bay of Islands Paihia</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">YHA Bay of Islands Paihia</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">YHA Bay of Islands Paihia</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    
  </div>
</div>
<!-- /.header__nav-menu -->