<div class="header__nav-menu">
  <div class="container">
    <p class="h2 text-green header__nav-menu-heading">
      <span class="icon icon--strokes-left"></span>
      membership
      <span class="icon icon--strokes-right"></span>
    </p>
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-back">
        <a href="#">
          <i class="fa fa-long-arrow-left"></i> Back
        </a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Member Discounts</a>
        <ul class="header__nav-sub-menu-item">
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Low Carbon Traveller</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">5% discount on Euro cars</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">DOC annual hut passes</a>
          </li>
          <li class="header__nav-sub-menu-item hidden-xs hidden-sm">
            <a href="#" class="link link--blue link--sm">
              ALL MEMBER DISCOUNTS
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Join Now</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Membership FAQ&#39;s</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Activate, Renew & Update Membership</a>
      </li>
    </ul>
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Member Deals</a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">Why join YHA</a>
      </li>
    </ul>
    <div class="col-xs-12 col-md-3 header__nav-menu-col-pull-vtr">
      <div class="panel">
        <p class="h2 panel__heading text-blue">
          <span class="icon icon--strokes-left"></span>
          connect
          <span class="icon icon--strokes-right"></span>
        </p>
        <p class="panel__info text-orange">
          <strong class="text-green text-xxl">Save 10%</strong><br>
          Become a YHA Member
        </p>
        <p>
          <a href="#" class="btn btn--grunge btn--blue btn--hover-orange">
            Join Now
          </a>
        </p>
      </div>
    </div>
    <div class="clear"></div>
    <!-- GRID-->
    <div class="row hidden-xs hidden-sm">
      <div class="col-xs-12">
        <div class="grid">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" alt="" 
                class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Cover More Travel Insurance</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Find out the benefits of joining YHA</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Summer Special Package!</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Estimate your cost</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
<!-- /.header__nav-menu -->