<div class="header__nav-menu">
  <div class="container">
    <p class="h2 text-green header__nav-menu-heading">
      <span class="icon icon--strokes-left"></span>
      travel info & deals
      <span class="icon icon--strokes-right"></span>
    </p>
    
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-back">
        <a href="#">
          <i class="fa fa-long-arrow-left"></i> Back
        </a>
      </li>
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">
          <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
          Deals
        </a>
        <ul class="header__nav-sub-menu">
          <li class="header__nav-sub-menu-back">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i> Back
            </a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Member Deals</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Bus & Bed Package Deals</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Car & Bed package Deals</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">
          <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
          Travel Info
        </a>
        <ul class="header__nav-sub-menu">
          <li class="header__nav-sub-menu-back">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i> Back
            </a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Department of Conservation</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Bus/Coach partner</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Car partner</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Adventure Travel partner</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Travel Insurance</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Travel App</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">
          <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
          Maps, Books & Brochures
        </a>
        <ul class="header__nav-sub-menu">
          <li class="header__nav-sub-menu-back">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i> Back
            </a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">NZ YHA Maps</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">NZ Travel Guides</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">YHA Australia Guidebook</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Download Lonely Planet Books</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <ul class="col-xs-12 col-md-3 header__nav-sub-menu text-orange">
      <li class="header__nav-sub-menu-item">
        <a href="#" class="header__nav-sub-menu-link">
          <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
          Travel Stories & Events
        </a>
        <ul class="header__nav-sub-menu">
          <li class="header__nav-sub-menu-back">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i> Back
            </a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Events</a>
          </li>
          <li class="header__nav-sub-menu-item">
            <a href="#" class="header__nav-sub-menu-link">Backpacker essemtials</a>
          </li>
        </ul>
      </li>
    </ul>
      
    <div class="clear"></div>
    <!-- GRID-->
    <div class="row hidden-xs hidden-sm">
      <div class="col-xs-12">
        <div class="grid">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" alt="" 
                class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">InterCity- Discounted fares for YHA members</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Get our Travel App to plan your trip on the go!</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Lonely Planet books - the perfect way to explore New Zealand</a>
              </p>
            </div>
            
            <div class="col-xs-12 col-md-3">
              <figure class="grid__col-figure">
                <img src="//via.placeholder.com/270x160/ffffff" 
                alt="" class="grid__col-figure-img">
                <a href="#" class="grid__col-figure-link">view more</a>
              </figure>
              <p class="grid__col__intro">
                <a href="#">Cirque Du Soliel - Auckland</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
<!-- /.header__nav-menu -->