<section class="section activities-section" id="activities-section">
  <div class="section__content">      
    <h2 class="text-green">
      <span class="icon icon--strokes-left"></span> 
      activities 
      <span class="icon icon--strokes-right"></span>
    </h2>
    <p>YHA Christchurch is always busy with fun activities offered on site. Please book in or check at the reception to participate in the activities</p>
    <p><strong class="text-blue">Monday:</strong> We head on a walk to the gardens and the city centre.</p>
    <p><strong class="text-blue">Tuesday:</strong> Come along to the Canterbury Museum ($12 entry for YHA members) and take a free guided tour of the historical museum.</p>
    <p><strong class="text-blue">Wednesday:</strong> Join us for a movie night in the hostel, popcorn included. Free!.</p>
    <p><strong class="text-blue">Thursday:</strong> Meet &amp; mingle with other guests on our City walking tour..</p>
    <p><strong class="text-blue">Friday:</strong> Come along to the Canterbury Museaum ($12 entry for YHA members) and take a free guided tour of the historical museum.</p>
  </div>
</section>