<section id="availability-section" class="section">
  <div class="section__content">			
	  <h2 class="text-green">
	    <span class="icon icon--strokes-left"></span> 
	    availability 
	    <span class="icon icon--strokes-right"></span>
	  </h2>
	  <p>Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	  <iframe src="" class="iframe iframe--default"></iframe>
	  <p class="text-right"><a href="#" class="link link--blue">book now</a></p>
  </div>
</section>