<section id="heading-section" class="section">
 <div class="section__content">   
  <hr class="hr--dark">
  <h1 class="main__heading">
    <span class="col-xs-12 col-sm-2 col-md-2">
      <span class="hr hr--orange"></span> 
    </span>
    <span class="col-xs-12 col-sm-10 col-md-10 text-right">
      <span class="hr--label">Independently owned and operated</span>
    </span>
    Centrally located backpacker hostel in the heart of Christchurch city centre.
  </h1>
  <div class="main__content">
    <a href="https://www.youtube.com/watch?v=Rv9GGOY7npE" class="btn btn--grunge btn--green btn--gutter btn--hover-orange swipebox">
      Play video
      <i class="fa fa-caret-right"></i>
    </a>
    <a href="http://www.360-image.com/360/ogunquit/anchorage-by-the-sea-2015/index.html?base=http://www.360-image.com/360/ogunquit/anchorage-by-the-sea-2015/&" class="icon--compact overlay__open">
      <span class="icon icon--360"></span>
    </a>
  </div>
 </div>
</section>