<div class="grid">
  <div class="container">
    <header class="grid__header">
      <h2 class="grid__heading text-green">
        <span class="icon icon--strokes-left"></span> 
        more 
        <span class="icon icon--strokes-right"></span>
      </h2>
    </header>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <figure class="col-xs-12 col-md-4 grid__figure">
                <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
              </figure>
              <div class="col-xs-12 col-md-8">
                <h6 class="text-black">Backpacker Essentials</h6>
                <p>
                  With two YHA hostels and our National Office located in 
                  Ōtautahi Christchurch, we like
                </p>
                <p>
                  <a href="#" class="link link--blue">Read more</a>
                </p>

              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <figure class="col-xs-12 col-md-4 grid__figure">
                <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
              </figure>
              <div class="col-xs-12 col-md-8">
                <h6 class="text-black">Mountan biking in Canterbury</h6>
                <p>
                  This should be one of the first destinations on your list if 
                </p>
                <p>
                  <a href="#" class="link link--blue">Read more</a>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12">
            <hr class="hr hr--dark">
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <figure class="col-xs-12 col-md-4 grid__figure">
                <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
              </figure>
              <div class="col-xs-12 col-md-8">
                <h6 class="text-black">Northland Road Trip Ideas and Inspiration</h6>
                <p>
                  With two YHA hostels and our National Office located in 
                </p>
                <p>
                  <a href="#" class="link link--blue">Read more</a>
                </p>

              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <figure class="col-xs-12 col-md-4 grid__figure">
                <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
              </figure>
              <div class="col-xs-12 col-md-8">
                <h6 class="text-black">Adrenaline Junkie Itinerary</h6>
                <p>
                  This should be one of the first destinations on your 
                  list if you're keen on biking in the  
                </p>
                <p>
                  <a href="#" class="link link--blue">Read more</a>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12">
            <hr class="hr hr--dark">
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <figure class="col-xs-12 col-md-4 grid__figure">
                <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
              </figure>
              <div class="col-xs-12 col-md-8">
                <h6 class="text-black">Best NZ Beaches and Family Picnics</h6>
                <p>
                  With two YHA hostels and our National Office located in  
                </p>
                <p>
                  <a href="#" class="link link--blue">Read more</a>
                </p>

              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <figure class="col-xs-12 col-md-4 grid__figure">
                <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
              </figure>
              <div class="col-xs-12 col-md-8">
                <h6 class="text-black">Top 10 Asian eateries in Auckland</h6>
                <p>
                  This should be one of the first destinations on your 
                  list if you're keen on biking in the  
                </p>
                <p>
                  <a href="#" class="link link--blue">Read more</a>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 text-center">
            <hr class="hr hr--dark">
          </div>
          
        </div>
        
        
      </div>
    </div>
  </div>
</div>
<!-- /.grid (blog posts)  -->