<div class="grid">
  <div class="container">
    <header class="grid__header">
      <p class="text-md">
        <strong>Showing 10 out of 47 articles for:
          <span class="text-blue">All stories</span>
        </strong>
      </p>
    </header>
    <div class="row">
      
      <aside class="col-xs-12 col-md-4 col-md-push-8">
        <form class="panel panel--dark" action="#" method="post">
          <h3 class="panel__heading h2 text-green  text-center">
            <span class="icon icon--strokes-left"></span>
            categories
            <span class="icon icon--strokes-right"></span>
          </h3>
          <div class="text-sm text-white">
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="All stories"
               class="tag__input" checked>
              <span class="tag__label">All stories</span>
            </label>
            
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="North Island"
               class="tag__input">
              <span class="tag__label">North Island</span>
            </label>
            
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="South Island"
               class="tag__input">
              <span class="tag__label">South Island</span>
            </label>
            
          </div>
          <div class="text-sm text-white">
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="All stories"
               class="tag__input">
              <span class="tag__label">All stories</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Photography"
               class="tag__input">
              <span class="tag__label">Photography</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Food"
               class="tag__input">
              <span class="tag__label">Food</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Scenic"
               class="tag__input">
              <span class="tag__label">Scenic</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Winter"
               class="tag__input">
              <span class="tag__label">Winter</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Summer"
               class="tag__input">
              <span class="tag__label">Summer</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Ski"
               class="tag__input">
              <span class="tag__label">Ski</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Adventure"
               class="tag__input">
              <span class="tag__label">Adventure</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Family"
               class="tag__input">
              <span class="tag__label">Family</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Snowboarding"
               class="tag__input">
              <span class="tag__label">Snowboarding</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="City Tours"
               class="tag__input">
              <span class="tag__label">City Tours</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Nature"
               class="tag__input">
              <span class="tag__label">Nature</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Walking and Hiking"
               class="tag__input">
              <span class="tag__label">Walking and Hiking</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Adrenalin"
               class="tag__input">
              <span class="tag__label">Adrenalin</span>
            </label>
            <label class="tag tag--ghost tag--selectable">
              <input type="checkbox" name="blog-categories[]" value="Beach"
               class="tag__input">
              <span class="tag__label">Beach</span>
            </label>
          </div>
        </form>
  
      </aside>
      
      <div class="col-xs-12 col-md-8 col-md-pull-4">
        <article class="bg-ultra-light-grey">
          <div class="row">
            <figure class="col-xs-12 col-md-5 grid__figure">
              <img src="//via.placeholder.com/315x240" alt="" class="grid__img">
            </figure>
            <div class="col-xs-12 col-md-7">
              <div class="grid__col-inner-fluid text-left">
                <h4>
                  13 Most Unique Backpacker Hostels in New Zealand
                </h4>
                <div class="text-md text-blue">
                  <a href="#" class="tag tag--default">Photogratphy</a>
                  <a href="#" class="tag tag--default">Adventure</a>
                  <a href="#" class="tag tag--default">Summer</a>
                  <a href="#" class="tag tag--default">Scenic</a>
                </div>
                <p class="grid__col-details">We make your group travel easy and 
                  convenient with a range of services for group travel. We offer
                   a Group Booking service for groups of 10 or more people...
                </p>
                <p><a href="#" class="link link--blue">Read more</a></p>
              </div>
            </div>
          </div>
        </article>
        
        <article class="bg-ultra-light-grey">
          <div class="row">
            <figure class="col-xs-12 col-md-5 grid__figure">
              <img src="//via.placeholder.com/315x240" alt="" class="grid__img">
            </figure>
            <div class="col-xs-12 col-md-7">
              <div class="grid__col-inner-fluid text-left">
                <h4>
                  Mountain Biking Hostels
                </h4>
                <div class="text-md text-blue">
                  <a href="#" class="tag tag--default">Mountain Biking</a>
                  <a href="#" class="tag tag--default">Adventure</a>
                  <a href="#" class="tag tag--default">Summer</a>
                  <a href="#" class="tag tag--default">Scenic</a>
                  <a href="#" class="tag tag--default">Family</a>
                  <a href="#" class="tag tag--default">South Island</a>
                  <a href="#" class="tag tag--default">North Island</a>
                </div>
                <p class="grid__col-details">
                  Whether you're an avid downhill mountain biker or trail rider,
                  our 40+ hostels have got you covered when it comes to adven...
                </p>
                <p><a href="#" class="link link--blue">Read more</a></p>
              </div>
            </div>
          </div>
        </article>
        
        <article class="bg-ultra-light-grey">
          <div class="row">
            <figure class="col-xs-12 col-md-5 grid__figure">
              <img src="//via.placeholder.com/315x240" alt="" class="grid__img">
            </figure>
            <div class="col-xs-12 col-md-7">
              <div class="grid__col-inner-fluid text-left">
                <h4>
                  Top 5 Healthy Hobbies to Try in New Zealand
                </h4>
                <div class="text-md text-blue">
                  <a href="#" class="tag tag--default">Photogratphy</a>
                  <a href="#" class="tag tag--default">Adventure</a>
                  <a href="#" class="tag tag--default">Summer</a>
                  <a href="#" class="tag tag--default">Scenic</a>
                </div>
                <p class="grid__col-details">
                  Whether you're an avid downhill mountain biker or trail rider,
                  our 40+ hostels have got you covered when it comes to adven...
                </p>
                <p><a href="#" class="link link--blue">Read more</a></p>
              </div>
            </div>
          </div>
        </article>
        
        <article class="bg-ultra-light-grey">
          <div class="row">
            <figure class="col-xs-12 col-md-5 grid__figure">
              <img src="//via.placeholder.com/315x240" alt="" class="grid__img">
            </figure>
            <div class="col-xs-12 col-md-7">
              <div class="grid__col-inner-fluid text-left">
                <h4>
                  The Ultimate Christchurch Walking Tour
                </h4>
                <div class="text-md text-blue">
                  <a href="#" class="tag tag--default">Walking and Hiking</a>
                  <a href="#" class="tag tag--default">City Tours</a>
                  <a href="#" class="tag tag--default">Summer</a>
                  <a href="#" class="tag tag--default">Scenic</a>
                  <a href="#" class="tag tag--default">Family</a>
                  <a href="#" class="tag tag--default">South Island</a>
                </div>
                <p class="grid__col-details">
                  We're lucky to have two hostels smack bang in the middle of 
                  the most walkable city in New Zealand. We also think a good 
                  walk is the best way to ...
                </p>
                <p><a href="#" class="link link--blue">Read more</a></p>
              </div>
            </div>
          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>