<section class="section section--fs bg-ultra-light-grey">
  <div class="container-fluid">
    <header class="grid__header">
      <h2 class="text-green">
        <span class="icon icon--strokes-left"></span> 
        related stories 
        <span class="icon icon--strokes-right"></span>
      </h2>
    </header>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-black">
              Top 5 Must-Do Activities in Christchurch
            </h6>
            <p>
              With two YHA hostels and our National Office located in 
              Ōtautahi Christchurch, we like to think we know...
            </p>
            <p>
              <a href="#" class="link link--blue">Read more</a>
            </p>

          </div>
        </div>
        <hr class="hr hr--dark">
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-black">
              Healthy vegan eateries in Christchurch and around the South 
              Island- perfect for health junkies!
            </h6>
            <p>
              It's 2017 so yes, you’re all probably aware of where to get...
            </p>
            <p>
              <a href="#" class="link link--blue">Read more</a>
            </p>

          </div>
        </div>
        <hr class="hr hr--dark">
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-black">
              Mountan biking in Canterbury
            </h6>
            <p>
              This should be one of the first destinations on your 
              list if you're keen on biking in the South Island...
            </p>
            <p>
              <a href="#" class="link link--blue">Read more</a>
            </p>

          </div>
        </div>
        <hr class="hr hr--dark">
      </div>

    </div>
    <div class="clear"></div>
    <footer class="grid__footer">
      <a href="#" class="btn btn--grunge btn--green btn--hover-blue">
        All local stories
      </a>
    </footer>
  </div>
</section>
<!-- /.grid (related stories) -->