<div class="banner banner--has-bg" style="background-image: url(/library/banner-photos/home.jpg);">
  <a class="banner__gallery--btn" href="#">
    <i class="banner__gallery--btn-icon text-blue fa fa-play"></i>
    <span class="banner__gallery--btn-text">
      PLAY VIDEO
    </span>
  </a>
  <!-- /.banner__gallery-btn -->
</div> 
<!-- /.banner -->
<div class="banner-gallery">
  <a rel="banner-gallery" class="banner-gallery__slide" href="https://www.youtube.com/watch?v=K6ZdX9Rz7SU">My Videos 1</a>
  <a rel="banner-gallery" class="banner-gallery__slide" href="https://www.youtube.com/watch?v=lWC_L8UaXH0">My Videos 2</a>
</div>