<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3 class="text-green">
        <span class="pull-left padding">
		  		<img src="/graphics/nz-map-icon-north.png" alt=""/>
				</span>
				YHA North Island Group Hostels
	  	</h3>

	  	<ul class="list">
				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Ahipara
					</span>
					<a href="#" class="list__link">view more</a>
				</li>
				
				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Auckland City
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Auckland International
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Bay Of Island Paihia
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Bay of Island The Rock Cruise
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Rotorua
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

			</ul>
		</div>
		<div class="col-xs-12 col-md-6">
			<h3 class="text-blue">
			  <span class="pull-left padding">
				<img src="graphics/nz-map-icon-south.png" alt=""/>
			  </span>
			  YHA South Island Group Hostels
			</h3>

			<ul class="list">
				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Arthur' Pass
					</span>
					<a href="#" class="list__link">view more</a>
				</li>
				
				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Christchurch Rolleston House
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Franz Josef
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Glenorchy
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Hanmer Springs
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

				<li class="list__item">
					<img src="http://via.placeholder.com/85x50" alt="" class="list__img">
					<span class="list__item-inner">
						<i class="icon icon--arrow-left"></i>
						YHA Hokitika
					</span>
					<a href="#" class="list__link">view more</a>
				</li>

			</ul>
		</div>
	</div>
</div>