<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<form action="#" class="form form--inline booking-panel" method="post">

				<h2 class="form__heading text-blue text-center">
					<span class="icon icon--strokes-left"></span> 
						find group hostel
					<span class="icon icon--strokes-right"></span>
				</h2>

				<fieldset class="form__fieldset">
					<div class="form__group form__group--select">
						<label for="hostel" class="form__label form__label--sr-only">Hostel</label>
						<div class="form__input-group">
							<label for="hostel-2" class="form__input-group-addon text-blue">
								<i class="fi fi-group-01 text-green text-xl"></i>
							</label>
							<select class="form__control form__control--extend" name="hostel" id="hostel-2">
							<option value="">Select Hostel</option>
							<option value="HOSTEL1">Hostel 1</option>
							<option value="HOSTEL2">Hostel 2</option>
							<option value="HOSTEL3">Hostel 3</option>
							</select>
						</div>
					</div>

					<div class="form__group">
						<button type="submit" name="view-hostel" value="1" class="btn btn--orange btn--hover-green btn--xs btn--full-width">View Hostel</button>
					</div>

				</fieldset>

			</form>
		</div>
	</div>
</div>