<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
    
  <main class="main">
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
          <h1 class="h2 text-orange">
            <span class="icon icon--strokes-left"></span>
            local stories
            <span class="icon icon--strokes-right"></span>
          </h1>
          <div class="main__content">
            <p>Here are some great local stories that we have collated to suir 
              our interests and make your New Zealand trip perfect. 
              YHA New Zealand hostels are for Kiwis and travellers alike who 
              want to get out and enjoy their passions throughout New Zealand. 
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- build:section  blog.landingPage -->
    <!-- /build -->
    
    <!-- build:section  blog.gridSm -->
    <!-- /build -->
    
    <!-- build:section layouts.booking.form -->
    <!-- /build -->

  </main>
  <!-- /.main -->
  
  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->
  
<!-- build:section  layouts.body -->
<!-- /build -->