<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
  
  <div class="main">
    <div class="container">
      <div class="row">
        <aside class="col-xs-12 col-md-4 col-md-push-8">
          <form class="panel panel--dark" action="#" method="post">
            <h3 class="panel__heading h2 text-green  text-center">
              <span class="icon icon--strokes-left"></span>
              categories
              <span class="icon icon--strokes-right"></span>
            </h3>
            <div class="text-sm text-white">
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="All stories"
                 class="tag__input" checked>
                <span class="tag__label">All stories</span>
              </label>
              
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="North Island"
                 class="tag__input">
                <span class="tag__label">North Island</span>
              </label>
              
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="South Island"
                 class="tag__input">
                <span class="tag__label">South Island</span>
              </label>
              
            </div>
            <div class="text-sm text-white">
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="All stories"
                 class="tag__input">
                <span class="tag__label">All stories</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Photography"
                 class="tag__input">
                <span class="tag__label">Photography</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Food"
                 class="tag__input">
                <span class="tag__label">Food</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Scenic"
                 class="tag__input">
                <span class="tag__label">Scenic</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Winter"
                 class="tag__input">
                <span class="tag__label">Winter</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Summer"
                 class="tag__input">
                <span class="tag__label">Summer</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Ski"
                 class="tag__input">
                <span class="tag__label">Ski</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Adventure"
                 class="tag__input">
                <span class="tag__label">Adventure</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Family"
                 class="tag__input">
                <span class="tag__label">Family</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Snowboarding"
                 class="tag__input">
                <span class="tag__label">Snowboarding</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="City Tours"
                 class="tag__input">
                <span class="tag__label">City Tours</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Nature"
                 class="tag__input">
                <span class="tag__label">Nature</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Walking and Hiking"
                 class="tag__input">
                <span class="tag__label">Walking and Hiking</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Adrenalin"
                 class="tag__input">
                <span class="tag__label">Adrenalin</span>
              </label>
              <label class="tag tag--ghost tag--selectable">
                <input type="checkbox" name="blog-categories[]" value="Beach"
                 class="tag__input">
                <span class="tag__label">Beach</span>
              </label>
            </div>
          </form>
        </aside>
        <div class="col-xs-12 col-md-8 col-md-pull-4">
          <div>
            <img src="//via.placeholder.com/795x485" alt="">
          </div>
          <div class="well well--no-gutter">
            <main class="main">
              <h1 class="main__heading">
                <span class="hr hr--orange"></span> 
                Top 5 healthy hobbies to try in New Zealand
              </h1>
              <div class="text-md text-blue">
                <a href="#" class="tag tag--default">Photogratphy</a>
                <a href="#" class="tag tag--default">Adventure</a>
                <a href="#" class="tag tag--default">Summer</a>
                <a href="#" class="tag tag--default">Scenic</a>
              </div>
              <div class="main__content">
                <p>
                  <strong>
                    If you’re planning a trip to New Zealand and are looking for 
                    ways to immerse yourself in local culture, start with these 
                    traditional leisure activities. Not only will these Kiwi 
                    pastimes introduce you to the glorious New Zealand landscape 
                    but they can help you feel fit and healthy on the road.
                  </strong>
                </p>
                <p>
                  What do New Zealanders know about health and fitness? The 
                  country was ranked 2nd of 20 nations for life expectancy in 
                  a global comparison and topped the Legatum Prosperity Index, 
                  a report which calculates national performance in health.
                </p>
                <p>
                  Regardless of your age and fitness level, our top five Kiwi
                   leisure activities are proven to have plentiful physical, 
                   mental and social benefits.
                </p>
                <p>&nbsp;</p>
                <div>
                  <h4 class="text-orange">Hill Walking</h4>
                  <p>
                    Boffins at the American College of Sports Medicine claim 
                    that a mere 30 minutes of cardio vascular exercise five 
                    times a week brings health benefits, and 60 to 90 minutes 
                    contributes to weight loss. The average traveller can also 
                    expect to burn up to four times the amount of calories 
                    when upping the incline on a walk.
                  </p>
                  <p>
                    The entire body feels the effects: muscle groups grow 
                    stronger; blood pumps faster around the body. If you’re 
                    taking a well-known path in New Zealand’s backcountry, 
                    expect to be on your feet for up to 7 hours. Always be 
                    prepared with protective clothing, accessories and water 
                    prior to setting off from your hostel or lodge.
                  </p>
                  <p>Where to try it: everywhere! Check out Te Araroa, Great
                     Walks, or Walking and Hiking hostels.
                   </p>
                   <p>
                     <img src="//via.placeholder.com/795x385" alt="">
                   </p>
                   <p>&nbsp;</p>
                </div>
                <div>
                  <h4 class="text-orange">Horse Riding</h4>
                  <p>
                    Animal lovers will naturally warm to horse riding in the
                    New Zealand countryside, although this leisure activity is 
                    suitable for all comers. 
                  </p>
                  <p>
                    Such is its popularity that 5% of adults in have 
                    participated in equestrian sports in New Zealand at least 
                    once in the past 12 months.
                  </p>
                  <p>From the lower legs, through your core, to your arms,
                     horse riding works the entire body. Those who saddle up 
                     regularly will notice a marked difference in their posture
                      and balance. Horse riding can help improve mental 
                      concentration and clear the mind of daily distractions 
                      that may otherwise lead to stress or anxiety.
                   </p>
                   <p>
                     A number of stables offer one-off riding rates or treks 
                     for travellers.  Well worth taking advantage of to explore
                     New Zealand’s glorious scenery.
                   </p>
                   <p>Where to try it: just about anywhere, but places like 
                     Punakaiki or Golden Bay make for particularly special 
                     rides.
                   </p>
                   <p>&nbsp;</p>
                </div>
                
                <div>
                  <h4 class="text-orange">Skiing</h4>
                  <p>
                    GlacierNo trip to New Zealand is complete without a day in 
                    the snow. For around half of the year those with a thirst 
                    for high altitude exploration can test themselves against 
                    the great outdoors by getting amongst the snow-capped mountains.
                  </p>
                  <p>
                    Skiing puts all major muscle groups to the test, chiefly 
                    targeting the inner and outer thighs, hamstrings and 
                    buttock muscles - this owes much to the crouching position 
                    that skiing involves.
                  </p>
                  <p>Experts state that just one hour of skiing can burn 
                    around 400 calories. In addition to weight loss and muscle 
                    toning, skiing is known for boosting immunity and relieving 
                    the symptoms of depression
                  </p>
                </div>
                
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <!-- build:section layouts.hostelDetail.grid -->
    <!-- /build -->

    <!-- build:section blog.relatedStories -->
    <!-- /build -->
  </div>
  <!-- /.main  -->

  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->

<!-- build:section recursive layouts.body -->
<!-- /build -->