<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
    
  <main class="main">
    
    <div class="container container--compact">
      <div class="row row--compact">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center col--compact">
          <h1 class="main__heading">
            <span class="hr hr--orange hr--ctr"></span> 
            Group Booking Enquiry
          </h1>
          <div class="main__content">
            <p>Ready to book your group's trip? Complete the form below to 
              the best of your knowledge and our helpful Group Coordinators 
              will be in touch within 48 hours with availability and advice.
            </p>
          </div>
          <!-- /.main__content  -->
        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->
    
    <!-- build:section layouts.bookingEnquiry.form -->
    <!-- /build -->
    
  </main>
  <!-- /.main -->
  
  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->
  
<!-- build:section  layouts.body -->
<!-- /build -->