<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
  
  <main class="main">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
          <h1 class="main__heading">
            <span class="hr hr--orange hr--ctr"></span> 
            Membership FAQ&#39;s
          </h1>
          <div class="main__content">
            <p>All your YHA Membership questions answered here. For further 
            questions get in touch with our friendly staff.</p>
          </div>
          <!-- /.main__content  -->
        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->
    
    <!-- build:section  faqs.main -->
    <!-- /build -->
  </main>

  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->

<!-- build:section  layouts.body -->
<!-- /build -->