<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
  
  <main class="main">
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <!-- build:section layouts.groupDetail.slider -->
          <!-- /build -->

          <!-- build:section layouts.groupDetail.nav -->
          <!-- /build -->
  
          <!-- build:section layouts.groupDetail.section.heading -->
          <!-- /build -->

          <!-- build:section layouts.groupDetail.section.detail -->
          <!-- /build -->

          <!-- build:section layouts.groupDetail.section.overview -->
          <!-- /build -->

          <!-- build:section layouts.groupDetail.section.facilities -->
          <!-- /build -->

          <!-- build:section layouts.groupDetail.section.capacity -->
          <!-- /build -->
          <p><span class="text-orange"><strong>Want to know more this group hostel?</strong></span> <a href="#" class="link link--blue text-uppercase">Send an Enquiry</a></p>
          <hr class="hr--dark">
          <p class="bottom__content"><img src="/graphics/logos/yha-small-logo.jpg" alt=""> <img src="/graphics/logos/qual-mark-logo.jpg" alt="" class="text--gutter"></p>
        </div>
        <div class="col-xs-12 col-md-4">

          <!-- build:section layouts.groupDetail.sidebar -->
          <!-- /build -->

        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->
    
    <!-- build:section layouts.groupDetail.grid -->
    <!-- /build -->
  </main>
  <!-- /.main -->
  
  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->
  
<!-- build:section  layouts.body -->
<!-- /build -->
  
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCqeRCfbUFp9cDWpnZPu1B8AnNnLCT9ZjQ"></script>
  <script src="/assets/js/vendor/min/production.js"></script>
  <script src="/assets/js/scripts/min/main.js" onload="app.init();" async defer></script>
</body>

</html>