<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->

  <!-- build:section recursive layouts.banner.bannerVideo -->
  <!-- /build -->

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 text-left">         
          <h1 class="main__heading">
            <span class="hr hr--orange"></span> 
            Plan the perfect school or youth group trip with YHA Group Azccommodation.
          </h1>
          <div class="main__content">
            <p>
              Planning a trip with your school group? Camp Group? Hockey, 
              rugbu or tennis team? Do you need to sort your group accommodation? 
              YHA has the hostel and the expertise to help. 
              If you're not ready to book yet get an estimate from us.
            </p>
            <p>
              <br>
              <a href="#" class="btn btn--grunge btn--grunge--indented btn--green btn--hover-orange">
                Get an Estimate
              </a>
            </p>
          </div>
          <!-- /.main__content  -->
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="panel panel__bg-black text-center">
              <h3 class="panel__heading panel__heading-sm text-blue">
                <span class="hr hr--ctr hr--orange"></span>
                Ready to book your group's trip?
              </h3>
              <a href="#" class="btn btn--orange btn--hover-blue btn--xl panel__btn">Request a Booking</a>
            </div>
            <!-- /.panel -->
          </div>
        </div>      
        <div class="row">
          <div class="col-xs-12">
            <div class="table-wrapper">
              <table class="table table--has-gutter-lg">
                <tr class="table__tr">

                  <td class="table__td text-center">
                    <div class="circle-bg__icon bg-orange">
                      <i class="fi fi-dollar"></i>
                    </div>
                    <p>
                      <strong>Great group rates and quality budget accommodation</strong>                   
                    </p>
                    <div class="hidden-xs">
                      <hr class="hr hr--ctr hr--vrt-short pull-right">
                    </div>
                  </td>

                  <td class="table__td text-center">
                    <div class="circle-bg__icon bg-blue">
                      <i class="fi fi-map-pin"></i>
                    </div>                
                    <p>
                      <strong>Safe and secure locations, no bars on site</strong>
                    </p>
                    <div class="hidden-xs">
                      <hr class="hr hr--ctr hr--vrt-short pull-right">
                    </div>
                  </td>

                  <td class="table__td text-center">
                    <div class="circle-bg__icon bg-green">
                      <i class="fi fi-group-02"></i>
                    </div>                 
                    <p>
                      <strong>Fast & reliable dedicated Groups Coordinators</strong>                    
                    </p>
                    <div class="hidden-xs">
                      <hr class="hr hr--ctr hr--vrt-short pull-right">
                    </div>
                  </td>

                  <td class="table__td text-center">
                    <div class="circle-bg__icon bg-black">
                      <i class="fi fi-cutlery"></i>
                    </div>                  
                    <p>
                      <strong>Self-catering facilities with fully equipped kitchens and social areas</strong>                    
                    </p>                 
                  </td>

                </tr>
              </table>
              <!-- /.table  -->
            </div>
          </div>
        </div>       
    </div>
    <!-- /.container (main content)  -->

    <!-- build:section layouts.hostel_list.hostelPanel -->
    <!-- /build -->   

    <div class="margin">
      <!-- build:section layouts.hostel_list.hostelList -->
      <!-- /build -->
    </div>

    <!-- build:section layouts.grid.gridColThree -->
    <!-- /build -->

    <!-- build:section layouts.booking.form -->
    <!-- /build -->

  </main>
  <!-- /.main -->

  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->

<!-- build:section  layouts.body -->
<!-- /build -->