<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
  
  <main class="main">
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <!-- build:section layouts.hostelDetail.slider -->
          <!-- /build -->

          <!-- build:section layouts.hostelDetail.nav -->
          <!-- /build -->
  
          <!-- build:section layouts.hostelDetail.section.heading -->
          <!-- /build -->

          <!-- build:section layouts.hostelDetail.section.detail -->
          <!-- /build -->

          <!-- build:section layouts.hostelDetail.section.overview -->
          <!-- /build -->

          <!-- build:section layouts.hostelDetail.section.availability -->
          <!-- /build -->

          <!-- build:section layouts.hostelDetail.section.facilities -->
          <!-- /build -->

          <!-- build:section layouts.hostelDetail.section.activities -->
          <!-- /build -->
          <p><span class="text-orange"><strong>Want to know more about Christchurch?</strong></span> <a href="#" class="link link--blue">Find out more</a></p>
          <hr class="hr--dark">
          <p class="bottom__content"><img src="/graphics/logos/yha-small-logo.jpg" alt=""> <img src="/graphics/logos/qual-mark-logo.jpg" alt="" class="text--gutter"></p>
        </div>
        <div class="col-xs-12 col-md-4">

          <!-- build:section layouts.hostelDetail.sidebar -->
          <!-- /build -->

        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->
    
    <!-- build:section layouts.hostelDetail.grid -->
    <!-- /build -->
  </main>
  <!-- /.main -->
  
  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->
  
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCqeRCfbUFp9cDWpnZPu1B8AnNnLCT9ZjQ"></script>
<!-- build:section  layouts.body -->
<!-- /build -->