<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">         
          <h1 class="main__heading">
            <span class="hr hr--ctr hr--orange"></span> 
            42 YHA hostels across New Zealand.
          </h1>
        </div>
        <div class="col-xs-12">
          <form action="#" class="form form--inline booking-panel  text-center" method="post">
            <h2 class="form__heading text-green text-center">
              <span class="icon icon--strokes-left"></span> 
              find group hostel
              <span class="icon icon--strokes-right"></span>
            </h2>

            <fieldset class="form__fieldset">
              <div class="form__group form__group--select">
                <label for="hostel" class="form__label form__label--sr-only">Hostel</label>
                <div class="form__input-group">
                  <label for="hostel-2" class="form__input-group-addon text-blue">
                    <i class="fi fi-group-01 text-green text-xl"></i>
                  </label>
                  <select class="form__control form__control--extend" name="hostel" id="hostel-2">
                    <option value="">Select Hostel</option>
                    <option value="HOSTEL1">Hostel 1</option>
                    <option value="HOSTEL2">Hostel 2</option>
                    <option value="HOSTEL3">Hostel 3</option>
                  </select>
                </div>
              </div>

              <div class="form__group">
                <button type="submit" name="view-hostel" value="1" class="btn btn--orange btn--hover-green btn--xs btn--full-width">View Hostel</button>
              </div>

            </fieldset>
          </form>

        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->  

    <!-- build:section layouts.hostel_list.hostelList -->
    <!-- /build -->

    <div class="container margin">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-1">
          <div class="panel text-center">
            <h2 class="text-orange">
              <span class="icon icon--strokes-left"></span> 
              dream 
              <span class="icon icon--strokes-right"></span>
            </h2>
            <h3 class="panel__heading text-green">
              Estimate your dream New Zealand trip
            </h3>
            <p>
              <a href="#" class="link link--blue">Estimate Cost</a>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-1">
          <div class="promo promo--md text-center no-gutter-vrt">
            <h2 class="text-green">
              <span class="icon icon--strokes-left"></span> 
              connect 
              <span class="icon icon--strokes-right"></span>
            </h2>
            <div class="promo__inner">
              <span class="promo__amount">
                Save <span class="promo__amount-value">10%</span>
              </span>
              
              <span class="promo__notes">
                Become a 
                <span class="promo__notes-highlight">YHA member</span>
                <span class="hidden-xs hidden-sm"><br>& start saving now!</span>
              </span>
              
              <a href="#" class="btn btn--grunge btn--blue btn--hover-orange promo__btn">Join Now</a>
            </div>
            <p>Already a Member? <a href="#" class="link link--blue">View member deals</a></p>
          </div>
          <!-- /.promo  -->
        </div>
      </div>
    </div>

  </main>
  <!-- /.main -->

  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->

<!-- build:section  layouts.body -->
<!-- /build -->