<!doctype html>
<html class="no-js is-mobile-device" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>YHA - Providing quality accommodation across 42 hostels in New Zealand.</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
  
  <!-- build:section recursive layouts.home.banner.layout -->
  <!-- /build -->
    
  <main class="main">
    <div class="main__content text-center">
      <p><strong>Looks like you're near</strong></p>
    </div>
    <div class="grid">
      <div class="container bg-ultra-light-grey">
        <div class="row">
          <div class="col-xs-12">
            <div class="grid__col">
              <div class="grid__col-inner">
                <figure class="grid__col-figure">
                  <img src="//via.placeholder.com/280x150" alt="" class="grid__col-figure-img">
                  <a href="#" class="grid__col-figure-link">view more</a>
                </figure>
                <h6 class="grid__col-heading">YHA Rotorua</h6>
                <p class="text-orange">
                  <strong>
                    <i class="fa fa-location-arrow text-green"></i> 
                    700m from City  Centre
                  </strong>
                </p>
                <p>
                  <a href="#" class="link link--blue">Find Out More</a>
                </p>
                <p>
                  <a href="#" class="btn btn--orange btn--block btn--hover-blue text-lg">Book Now</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="grid__col">
              <div class="grid__col-inner">
                <figure class="grid__col-figure">
                  <img src="//via.placeholder.com/280x150" alt="" class="grid__col-figure-img">
                  <a href="#" class="grid__col-figure-link">view more</a>
                </figure>
                <h6 class="grid__col-heading">YHA Rotorua</h6>
                <p class="text-orange">
                  <strong>
                    <i class="fa fa-location-arrow text-green"></i> 
                    700m from City  Centre
                  </strong>
                </p>
                <p>
                  <a href="#" class="link link--blue">Find Out More</a>
                </p>
                <p>
                  <a href="#" class="btn btn--orange btn--block btn--hover-blue text-lg">Book Now</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="grid__col">
              <div class="grid__col-inner">
                <figure class="grid__col-figure">
                  <img src="//via.placeholder.com/280x150" alt="" class="grid__col-figure-img">
                  <a href="#" class="grid__col-figure-link">view more</a>
                </figure>
                <h6 class="grid__col-heading">YHA Rotorua</h6>
                <p class="text-orange">
                  <strong>
                    <i class="fa fa-location-arrow text-green"></i> 
                    700m from City  Centre
                  </strong>
                </p>
                <p>
                  <a href="#" class="link link--blue">Find Out More</a>
                </p>
                <p>
                  <a href="#" class="btn btn--orange btn--block btn--hover-blue text-lg">Book Now</a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="promo promo--default text-center">
            <div class="promo__inner">
              <span class="promo__amount">
                Save <span class="promo__amount-value">10%</span>
              </span>
              
              <span class="promo__notes">
                Become a 
                <span class="promo__notes-highlight">YHA member</span>
                <span class="hidden-xs hidden-sm"><br>& start saving now!</span>
              </span>
              
              <a href="#" class="btn btn--grunge btn--blue btn--hover-orange promo__btn">Join Now</a>
            </div>
            <p>Already a Member? <a href="#" class="link link--blue">View member deals</a></p>
          </div>
          <!-- /.promo  -->

        </div>

        <div class="col-xs-12">
          
          <div class="carousel">
            <div class="carousel__slide">
              <figure class="carousel__figure">
                <img src="//via.placeholder.com/220x220" alt="" class="carousel__img carousel__img--rounded" />
              </figure>
            </div>
            
            <div class="carousel__slide">
              <figure class="carousel__figure">
                <img src="//via.placeholder.com/220x220" alt="" class="carousel__img carousel__img--rounded" />
              </figure>
            </div>
            
            <div class="carousel__slide">
              <figure class="carousel__figure">
                <img src="//via.placeholder.com/220x220" alt="" class="carousel__img carousel__img--rounded" />
              </figure>
            </div>
            
            <div class="carousel__slide">
              <figure class="carousel__figure">
                <img src="//via.placeholder.com/220x220" alt="" class="carousel__img carousel__img--rounded" />
              </figure>
            </div>
            
          </div>
          <!-- /.carousel -->
          
          <div class="text-center">
            <h5 class="text-orange">Travelling with your group? Stay with YHA</h5>
            <p><a href="#" class="link link--blue">Find out more</a></p>
          </div>
          
        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->
    
  </main>
  <!-- /.main -->
  
  <!-- build:section recursive layouts.footer.layoutMobile -->
  <!-- /build -->
  
  <script src="/assets/js/vendor/min/production.js"></script>
  <script src="/assets/js/scripts/min/main.js" onload="app.init();" async defer></script>
</body>

</html>