<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->
    
  <main class="main">
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
          <h1 class="h2 text-orange">
            <span class="icon icon--strokes-left"></span>
            member discounts
            <span class="icon icon--strokes-right"></span>
          </h1>
          <div class="main__content">
            <p>
              One of the many benefits of YHA membership is the multitude of
              travel and activity discounts available to all YHA/HI members.
              Mention the YHA member discount at the time of booking and 
              don't forget to take proof of your membership with you on the day! 
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- build:section  membersDiscounts.landingPage -->
    <!-- /build -->
    </main>
  
    <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->
  
<!-- build:section  layouts.body -->
<!-- /build -->