<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->

  <!-- build:section recursive layouts.banner.bannerVideo -->
  <!-- /build -->

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
          
          <h1 class="main__heading">
            <span class="hr hr--orange hr--ctr"></span> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac odio risus.
          </h1>

          <div class="main__inner">

            <p class="main__intro"> Aliquam accumsan erat 
              sed dui egestas pharetra. Suspendisse ullamcorper, 
              elit sed rhoncus luctus, magna nisl euismod odio, 
              sit amet commodo lacus nunc vel tellus.Vestibulum congue blandit auctor.
            </p>

            <div class="main__content">
              <p> Aliquam accumsan erat sed dui egestas pharetra. Suspendisse ullamcorper, elit sed rhoncus luctus, magna nisl euismod odio, sit amet commodo lacus nunc vel tellus.
              </p>

              <blockquote>
                For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members.
              </blockquote>

            </div>
            <!-- /.main__content  -->
          </div>
          <!-- /.main__inner -->
        </div>
      </div>
    </div>
    <!-- /.container (main content)  -->

    <!-- build:section layouts.grid.gridColThree -->
    <!-- /build -->

    <!-- build:section layouts.booking.form -->
    <!-- /build -->

  </main>
  <!-- /.main -->

  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->

<!-- build:section  layouts.body -->
<!-- /build -->