<div class="grid">
  <div class="container container--compact">
    <header class="grid__header">
      <h2 class="grid__heading text-green">
        <span class="icon icon--strokes-left"></span> 
        connect 
        <span class="icon icon--strokes-right"></span>
      </h2>
    </header>
    
    <div class="row row--compact">
      <div class="col-xs-12 col-md-3 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/330x457" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
            <figcaption class="grid__col-figcaption-orange">
              <span class="grid__col-figcaption-text-fx">Join Now</span>
            </figcaption>
          </figure>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-3 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/330x457" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
            <figcaption class="grid__col-figcaption-blue">
              <span class="grid__col-figcaption-text-fx">Contact Us</span>
            </figcaption>
          </figure>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-3 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/330x457" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
            <figcaption class="grid__col-figcaption-green">
              <span class="grid__col-figcaption-text-fx">YHA travel app</span>
            </figcaption>
          </figure>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-3 col--compact">
        <div class="grid__col-inner">
          <figure class="grid__col-figure">
            <img src="//via.placeholder.com/330x457" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
            <figcaption class="grid__col-figcaption-black">
              <span class="grid__col-figcaption-text-fx">Social connect</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.grid (connect) -->