<div class="grid">
  <div class="container container--compact">

    <header class="grid__header">
      <h2 class="grid__heading text-orange">
        <span class="icon icon--strokes-left"></span> 
        dream 
        <span class="icon icon--strokes-right"></span>
      </h2>
    </header>

    <div class="row row--compact">
      <div class="col-xs-12 col-md-6 col--compact grid__col">
        <figure class="grid__col-figure">
          <img src="//via.placeholder.com/610x455" alt="" class="grid__col-figure-img">
          <a href="#" class="grid__col-figure-link">view more</a>
        </figure>
      </div>

      <div class="col-xs-12 col-md-3 col--compact grid__col">
        <div class="row row--compact">
          <div class="col-xs-12 col-md-12 col--compact">
            <figure class="grid__col-figure">
              <img src="//via.placeholder.com/350x350" alt="" class="grid__col-figure-img">
              <a href="#" class="grid__col-figure-link">view more</a>
            </figure>
          </div>
          <div class="col-xs-6 col--compact grid__col">
            <figure class="grid__col-figure">
              <img src="//via.placeholder.com/200x200" alt="" class="grid__col-figure-img">
              <a href="#" class="grid__col-figure-link">view more</a>
            </figure>
          </div>
          <div class="col-xs-6 col--compact grid__col">
            <figure class="grid__col-figure">
            <img src="//via.placeholder.com/200x200" alt="" class="grid__col-figure-img">
            <a href="#" class="grid__col-figure-link">view more</a>
            </figure>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-3 col--compact grid__col">
        <div class="row row--compact">
          <div class="col-xs-6 col--compact">
            <figure class="grid__col-figure">
              <img src="//via.placeholder.com/200x200" alt="" class="grid__col-figure-img">
              <a href="#" class="grid__col-figure-link">view more</a>
            </figure>
          </div>
          <div class="col-xs-6 col--compact">
            <figure class="grid__col-figure">
              <img src="//via.placeholder.com/200x200" alt="" class="grid__col-figure-img">
              <a href="#" class="grid__col-figure-link">view more</a>
            </figure>
          </div>
          <div class="col-xs-12 col-md-12 col--compact">
            <div class="panel panel--estimate-info">
              <h5><span class="hr hr--ctr hr--orange"></span> Estimate your dream New Zealand trip</h5>
              <p>Use our nifty cost estimation tool to learn how affordable your New Zealand trip can be with YHA.</p>
              <p><a href="#" class="link link--blue">Estimate Cost</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.grid (dream) -->