  <header class="header">
    <div class="header__inner">
      <a href="#header-booking-panel" class="btn btn--orange btn--hover-blue
       header__cta-btn  toggle-elm" data-active-block="header__cta-btn--active">
        <span class="visible-xs">Book Now</span>
        <span class="hidden-xs">Book My Hostel</span>
      </a>
      <!-- /.header__cta-btn -->
      
      <a href="#primary-nav" class="header__nav-toggler">
        <i class="fa fa-bars header__nav-toggler__icon"></i>
      </a>
      <!-- /.header__nav-toggle -->
      
      <a href="/" class="header__logo">
        <img src="/graphics/logo.png" alt="Hosteling Internationals, YHA New Zealand" class="header__logo__img">
      </a>
      <!-- /.header__logo -->
      
      <!-- build:section recursive layouts.header.navigation -->
      <!-- /build -->
      
      <!-- build:section recursive layouts.header.bookingPanel -->
      <!-- /build -->
    </div>
  </header>
  <!-- /.header -->

  <div class="header-push"></div>
  <!-- /.header-push -->