<nav id="primary-nav" class="header__nav">
  <ul class="header__nav__list">
    <li class="header__nav-item header__nav-item--has-menu">
      
      <a href="#" class="header__nav-link">
        <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
        Hostels
      </a>
      <!-- build:section layouts.header.menus.hostel -->
      <!-- /build -->
    </li>
    <li class="header__nav-item header__nav-item--has-menu">
      <a href="#" class="header__nav-link">
        <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
        Membership
      </a>
      <!-- build:section layouts.header.menus.membership -->
      <!-- /build -->
    </li>
    <li class="header__nav-item header__nav-item--has-menu">
      <a href="#" class="header__nav-link">
        <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
        Travel Info & Deals
      </a>
      <!-- build:section layouts.header.menus.travelInfo -->
      <!-- /build -->
    </li>
    <li class="header__nav-item header__nav-item--has-menu">
      <a href="#" class="header__nav-link">
        <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
        Groups
      </a>
      <!-- build:section layouts.header.menus.groups -->
      <!-- /build -->
    </li>
    <li class="header__nav-item header__nav-item--has-menu">
      <a href="#" class="header__nav-link">
        <i class="fa fa-angle-right header__nav-menu-toggle-icon"></i>
        About
      </a>
      <!-- build:section layouts.header.menus.about -->
      <!-- /build -->
    </li>
  </ul>
</nav>
<!-- /.header__nav -->