<div class="affix sidebar">
  <div class="text-center bg-black well">
    <span class="hr hr--ctr hr--orange"></span>
    <h4 class="text-blue">YHA Christchurch Rolleston House</h4>
    <p class="text-orange"><strong>700m from city centre</strong></p>
    <ul class="list list--vertical">
      <li class="list__item">
        <i class="fi fi-wifi list__item-icon"></i> Free WiFi Limited access
      </li>
      <li class="list__item">
        <i class="fi fi-locker list__item-icon"></i> Locker Storage
      </li>
      <li class="list__item">
        <i class="fi fi-parking-sign list__item-icon"></i> Offstreet parking
      </li>
    </ul>
    <fieldset class="form__fieldset">
      <div class="form__group">
        <label for="check-in-date-2" class="form__label form__label--sr-only">Check in date
        </label>
        <div class="form__input-group">
          <input type="text" class="form__control form__input--grey has-datepicker" name="check-in-date" id="check-in-date-2" placeholder="Check in date" autocomplete="off" aria-label="Use the arrow keys to pick a date">
          <label for="check-in-date-1" class="form__input-group-addon form__input--grey">
            <i class="fa fa-calendar">
            </i>
          </label>
        </div>
      </div>
      <div class="form__group">
        <button type="submit" name="check-availability" value="1" class="btn btn--orange btn--hover-green btn--xl">Check Availability
        </button>
      </div>
    </fieldset>
  </div>
  <div class="text-center">
    <p><span class="text-green"><strong>SAVE 10%</strong></span> Become a <a href="#" class="link link--orange">YHA Member</a></p>
    <p><img src="/graphics/logos/tripadvisor-logo.jpg" alt="" class="text--gutter"></p>
  </div>
</div>