<div class="gallery-slider">
  <div class="gallery-slider__slide">
    <a href="/library/hostels/place.jpg" class="swipebox gallery-slider__fs-btn">
      Full screen <i class="fa fa-arrows-alt gallery-slider__fs-btn-icon"></i>
    </a>
    <figure class="gallery-slider__figure">
      <img src="/library/hostels/place.jpg" alt="" class="gallery-slider__figure-img" />
      <figcaption class="gallery-slider__figure-caption">
        A school group trip to YHA Rotorua
      </figcaption>
      <div class="gallery-slider__slide-overlay"></div>
    </figure>
  </div>
  <div class="gallery-slider__slide">
    <a href="/library/hostels/place.jpg" class="swipebox gallery-slider__fs-btn">
      Full screen <i class="fa fa-arrows-alt gallery-slider__fs-btn-icon"></i>
    </a>
    <figure class="gallery-slider__figure">
      <img src="/library/hostels/place.jpg" alt="" class="gallery-slider__figure-img" />
      <figcaption class="gallery-slider__figure-caption">
        A simple street view
      </figcaption>
      <div class="gallery-slider__slide-overlay"></div>
    </figure>
  </div>
</div>